*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #F4F4F4;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
@font-face{       /*特定字体*/
    font-family:'wbficon';
    src:url(../../public/woff/wbficon.woff),url(../../public/woff/wbficon.woff) format('woff');
}

@font-face{       /*特定字体*/
    font-family:'unlogficon';
    src:url(../../public/woff/unlogficon.woff),url(../../public/woff/unlogficon.woff) format('woff');
}

/*导航栏部分*/
.navbar{
    width:100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0px 1px 1px #D8D8D8;
    position: fixed;
    z-index: 100;
}

.nav-information{
    width:320px;
    height:50px;
    line-height: 50px;
    position: relative;
    left: 30px;
}
.nav-information li{
    float:left;
}
.nav-information li.nav-info-second {
    border-bottom: 2px solid #00B4FF;
}
.nav-information li.nav-info-second a{
    color:#333;
}
.nav-information a{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 14px;
    color: #C4C4C4;
    padding: 0px 20px;
}
.nav-information li:hover{
    background: #f1f1f1;
}
.nav-information li:hover a{
    color:#333;
}

.nav-img-position{
    width: 100px;
    height: 50px;
    background: url("../../public/images/favicon.ico") no-repeat 30px 5px;
    background-size: 40px 40px;
    position: absolute;
    top:0px;
    left:50%;
    z-index: 10;
}
.nav-person{
    float:right;
    position: relative;
    top:-50px;

}
.nav-person-search{
    width:60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    right:90px;
}
.nav-person-img{
    width:60px;
    height:50px;
    text-align: center;
    position: absolute;
    right:30px;
}
.nav-person-img figure{
    margin-top: 10px;
}
.nav-search-icon{
    font-family: "wbficon" !important;
    font-size: 18px;
    color: #02B4FF;
}
.nav-person-img a img{
    width:30px;
    height:30px;
    line-height: 30px;
    border-radius: 50%;
}


/*内容中的上部分*/
.explore-channel-content{
    width:100%;
    height:54%;
    background: url("../../public/images/ex_bg.jpeg") no-repeat;
    position: absolute;
    top: 51px;
}
.ec-images{
    width:1000px;
    height:84%;
    margin: 20px auto;
}
.bt-channel{
    float:left;
    width:230px;
    height:130px;
    margin: 10px;
    box-shadow: 2px 2px 1000px #c4c4c4 inset;
    border-radius: 10px;
    position: relative;
}
.bt-ch1{
    background: url("../../public/images/bt-c1.jpg");
    background-size: cover;
}
.bt-ch2{
    background: url("../../public/images/bt-c2.jpg");
    background-size: cover;
}
.bt-ch3{
    background: url("../../public/images/bt-c3.jpg");
    background-size: cover;
}
.bt-ch4{
    background: url("../../public/images/bt-c4.jpg");
    background-size: cover;
}
.bt-ch5{
    background: url("../../public/images/bt-c5.jpg");
    background-size: cover;
}
.bt-ch6{
    background: url("../../public/images/bt-c6.jpg");
    background-size: cover;
}
.bt-ch7{
    background: url("../../public/images/bt-c7.jpg");
    background-size: cover;
}
.bt-ch8{
    background: url("../../public/images/bt-c8.jpg");
    background-size: cover;
}
.bt-channel-content{
    width:100%;
    height:100%;
    display: inline-block;
    overflow: hidden;
}
.bt-channel-panel{
    color:#fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    height:130px;
    line-height: 130px;
    -moz-transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
}
.bt-channel-panel:hover{
    height:78px;
    line-height:78px;
}
.bt-channel-dynamic{
    width:230px;
    height:52px;
}
.bt-channel-dynamic .bt-col-6{
    width:114px;
    margin: 8px 0px;
    color: #fff;
    float:left;
}
.bt-col-6 .bt-bold-count{
    font-weight: 600;
}

@media (max-width: 400px) {
    .explore-channel-content{
        width:100%;
        height:180%;
    }
    .ec-images{
        width:200px;
        height:94.3%;
        margin: auto;
    }
    .ec-images li{
        float:left;
        width:180px;
        height:100px;
    }
    .bt-channel-panel{
        text-align: center;
        height:100px;
        line-height: 100px;
        -moz-transition:all 0.4s ease-in-out;
        -webkit-transition:all 0.4s ease-in-out;
    }
    .bt-channel-panel:hover{
        height:58px;
        line-height:58px;
    }
    .bt-channel-dynamic{
        width:180px;
        height:42px;
    }
    .bt-channel-dynamic .bt-col-6{
        width:88px;
        margin: 8px 0px;
        float:left;
    }
}
@media (min-width:400px) and (max-width: 650px) {
    .explore-channel-content{
        width:100%;
        height:90%;
    }
    .ec-images{
        width:400px;
        height:92.8%;
        text-align: center;
    }
    .ec-images li{
        float:left;
        width:180px;
        height:100px;
    }
    .bt-channel-panel{
        text-align: center;
        height:100px;
        line-height: 100px;
        -moz-transition:all 0.4s ease-in-out;
        -webkit-transition:all 0.4s ease-in-out;
    }
    .bt-channel-panel:hover{
        height:58px;
        line-height:58px;
    }
    .bt-channel-dynamic{
        width:180px;
        height:42px;
    }
    .bt-channel-dynamic .bt-col-6{
        width:88px;
        margin: 8px 0px;
        float:left;
    }
}
@media (min-width:650px) and (max-width: 1050px) {
    .explore-channel-content{
        width:100%;
        height:70%;
    }
    .ec-images{
        width:600px;
        height:90%;
        text-align: center;
    }
    .ec-images li{
        float:left;
        width:180px;
        height:100px;
    }
    .bt-channel-panel{
        text-align: center;
        height:100px;
        line-height: 100px;
        -moz-transition:all 0.4s ease-in-out;
        -webkit-transition:all 0.4s ease-in-out;
    }
    .bt-channel-panel:hover{
        height:58px;
        line-height:58px;
    }
    .bt-channel-dynamic{
        width:180px;
        height:42px;
    }
    .bt-channel-dynamic .bt-col-6{
        width:88px;
        margin: 8px 0px;
        float:left;
    }
}
@media (min-width: 1050px){
    .explore-channel-content{
        width:100%;
        height:54%;
    }
    .ec-images{
        width:1000px;
        height:88%;
        text-align: center;
    }
    .ec-images li{
        float:left;
        width:230px;
        height:130px;
    }
    .bt-channel-panel{
        text-align: center;
        height:130px;
        line-height: 130px;
        -moz-transition:all 0.4s ease-in-out;
        -webkit-transition:all 0.4s ease-in-out;
    }
    .ec-images .bt-channel{
        float:left;
        width:230px;
        height:130px;
    }
    .bt-channel-panel:hover{
        height:78px;
        line-height:78px;
    }
    .bt-channel-dynamic{
        width:230px;
        height:52px;
    }
    .bt-channel-dynamic .bt-col-6{
        width:114px;
        margin: 8px 0px;
        float:left;
    }
}


/*中间内容部分*/
.ec-content-bottom{
    width:100%;
    margin: auto;
    float:left;
}
/*中间内容的导航栏部分*/
.ec-content-nav{
    width: 1000px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    border:1px solid #EFEFEF;
    border-radius: 5px;
    background: #fff;
}
.ec-content-nav li{
    width:33%;
    height:40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.ec-content-nav li a{
    color:#333;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ec-content-nav li:hover a{
    color:#16BAFF;
}
@media (min-width:650px) and (max-width: 1050px) {
    .ec-content-nav{
        width:80%;
        height:40px;
    }
    .ec-content-nav li{
        width:32.8%;
    }
}
@media  (max-width: 650px) {
    .ec-content-nav{
        width:80%;
        height:40px;
    }
    .ec-content-nav li{
        width:31.8%;
    }
}

.ec-content-dream{          /*下划线*/
    border-bottom: 2px solid #16BAFF;
}
.ec-content-dream a{
    color: #16BAFF;
}


/*中间底层内容的梦想*/
.ec-content-dreamConn{
    width: 1000px;
    margin: 10px auto;
    /*display: none;*/
}
.ec-content-dreamContent{
    width:320px;
    height:250px;
    background: #fff;
    border-radius: 10px;
    float:left;
    margin-right: 6px;
    margin-left: 7px;
}

/*对底部内容部分进行放大缩小*/
.ec-content-dreamContent:hover .ec-content-dreamConnFoot{
    transition: all 0.5s linear;
    transform: translate(0px,90px);
    opacity: 0;
}
.ec-content-dreamContentZoom{
    /*animation: dreamContentZoomShow 0.5s linear;*/
    transition: all 0.5s linear;
    transform: scale(1.02);
}
/*@-webkit-keyframes dreamContentZoomShow {
    0%{
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
    }
    100%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }
}*/

.ec-dreamContent0,.ec-dreamContent1,.ec-dreamContent2,.ec-dreamContent3,.ec-dreamContent4,.ec-dreamContent5,.ec-dreamContent6,.ec-dreamContent7,.ec-dreamContent8{
    margin-top:13px;
}
.ec-content-dreamConnUp{
    width:320px;
    height:116px;
    /*box-shadow: 2px 2px 1000px #e4e4e4 inset;*/
    border-radius: 10px 10px 0px 0px;
}
.ec-conn1{
    background:url("../../public/images/ec-conn1.jpg") no-repeat 0px -40px;
    background-size: cover;
}
.ec-conn2{
    background:url("../../public/images/ec-conn2.jpg") no-repeat;
    background-size: cover;
}
.ec-conn3{
    background:url("../../public/images/ec-conn3.jpg") no-repeat;
    background-size: cover;
}
.ec-conn4{
    background:url("../../public/images/ec-conn4.jpg") no-repeat 0px -30px;
    background-size: cover;
}
.ec-conn5{
    background:url("../../public/images/ec-conn5.jpg") no-repeat;
    background-size: cover;
}
.ec-conn6{
    background:url("../../public/images/ec-conn6.png") no-repeat 0px -40px;
    background-size: cover;
}
.ec-conn7{
    background:url("../../public/images/ec-conn7.jpg") no-repeat 0px -40px;
    background-size: cover;
}
.ec-conn8{
    background:url("../../public/images/ec-conn8.jpg") no-repeat 0px -40px;
    background-size: cover;
}

.ecDreamConnUp{
    color: #fff;
    position: relative;
    left:20px;
    top:15px;
}
.ec-content-dreamConnUp-title{
    font-size: 20px;
    font-weight: bold;
}
.ec-content-dreamConnUp-small{
    color: #fff;
    font-size: 16px;
}
.ec-content-dreamConnCard{
    width:320px;
    height:100px;
    line-height:1.8;
    padding: 15px 20px 20px;
    color:#7D7D7D;
}
.ec-content-dreamConnFoot{
    width: 320px;
    height: 90px;
    background: #fff;
    position: relative;
    top: -55px;
    border-radius: 0px 0px 10px 10px;
}
.ec-dreamConnFoot-col{
    float:left;
    width: 33.3%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}
.ec-dreamConnFoot-col p{
    line-height: 25px;
    color:#999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}
p.ec-dreamConnFoot-count{
    color:#444;
    font-size: 18px;
    font-weight: bold;
}

/*中间底层内容的梦想家*/
.ec-content-dreamerConn{
    width: 1000px;
    margin: auto;
    display: none;
}
.ec-content-dreamerContent{
    width:320px;
    height:250px;
    background: #fff;
    border-radius: 10px;
    float:left;
    margin-right: 6px;
    margin-left: 7px;
}
.ec-content-dreamerConnUp{
    width:320px;
    height:120px;
    border-radius: 10px 10px 0px 0px;
}
.ec-dreamerContent0,.ec-dreamerContent1,.ec-dreamerContent2,.ec-dreamerContent3,.ec-dreamerContent4{
    margin-top:13px;
}
.ec-dreamer0{
    background:url("../../public/images/ec-dreamer0.jpg") no-repeat 0px -220px;
    background-size: cover;
}
.ec-dreamer1{
    background:url("../../public/images/ec-dreamer1.jpg") no-repeat 0px -40px;
    background-size: cover;
}
.ec-dreamer2{
    background:url("../../public/images/ec-dreamer2.jpg") no-repeat 0px -40px;
    background-size: cover;
}
.ec-dreamer3{
    background:url("../../public/images/ec-dreamer3.jpg") no-repeat 0px -60px;
    background-size: cover;
}
.ec-dreamer4{
    background:url("../../public/images/ec-dreamer4.jpg") no-repeat 0px -40px;
    background-size: cover;
}
.ecDreamerConnUp{
    height:50px;
    position: relative;
    top:70px;
    background:-moz-linear-gradient(top,rgba(207,199,194,0.1),rgba(94,90,88,0.6));/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(207,199,194,0.1)), to(rgba(94,90,88,0.6)));/*谷歌*/
    z-index: 10;
}
.ec-content-dreamerConnUp-name{
    color:#fff;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 20px;
    position: relative;
    left:95px;
    top:20px;
    z-index: 20;
}
.ec-content-DreamerConnIcon{
    width:60px;
    height:60px;
    border-radius: 50%;
    position: relative;
    top:-40px;
    left:20px;
    z-index: 25;
}
.DreamerConnIcon0{
    background: url("../../public/images/ec-dreamerIcon0.png") no-repeat;
    box-shadow:0 0 10px rgba(153, 153, 153, 0.6);
}
.DreamerConnIcon1{
    background: url("../../public/images/ec-dreamerIcon1.png") no-repeat;
    box-shadow:0 0 10px rgba(153, 153, 153, 0.6);
}
.DreamerConnIcon2{
    background: url("../../public/images/ec-dreamerIcon2.png") no-repeat;
    box-shadow:0 0 10px rgba(153, 153, 153, 0.6);
}
.DreamerConnIcon3{
    background: url("../../public/images/ec-dreamerIcon3.png") no-repeat;
    box-shadow:0 0 10px rgba(153, 153, 153, 0.6);
}
.DreamerConnIcon4{
    background: url("../../public/images/ec-dreamerIcon4.png") no-repeat;
    box-shadow:0 0 10px rgba(153, 153, 153, 0.6);
}
.ec-content-dreamerConnCard{
    margin-top: -50px;
    margin-left: 95px;
}
.ec-content-dreamerConnCard p{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#999;
}
.ec-content-dreamerConnCard p span{
    color:#797979;
}
.ec-content-dreamerConnFoot{
    width: 320px;
    height: 70px;
    background: #fff;
    position: relative;
    top: 6px;
    border-radius: 0px 0px 10px 10px;
}
.ec-dreamerConnFoot-col{
    float:left;
    width: 33.3%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}
.ec-dreamerConnFoot-col p{
    line-height: 25px;
    color:#999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}
p.ec-dreamerConnFoot-count{
    color:#444;
    font-size: 18px;
    font-weight: bold;
}
@media  (max-width: 672px) {
    .ec-content-bottom{
        width:100%;
        height:2380px;
    }
    .ec-content-dreamConn{
        width:336px;
        height:90%;
        margin: auto;
    }
    .ec-content-dreamContent{
        width:320px;
        height:250px;
        float:left;
    }

}
@media  (max-width: 672px){
    .ec-content-bottom{
        width:100%;
        height:1480px;
        overflow:hidden;
    }
    .ec-content-dreamerConn{
        width:336px;
        height:90%;
        margin: auto;
    }
    .ec-content-dreamerContent{
        width:320px;
        height:250px;
        float:left;
    }
}
@media (min-width:672px) and (max-width: 1050px){
    .ec-content-bottom{
        width:100%;
        height:1200px;
    }
    .ec-content-dreamConn{
         width:672px;
         height:90%;
         margin: auto;
     }
    .ec-content-dreamContent{
        width:320px;
        height:250px;
        float:left;
    }

}
@media (min-width:672px) and (max-width: 1050px){
    .ec-content-bottom{
        width:100%;
        height:920px;
        overflow:hidden;
    }
    .ec-content-dreamerConn{
        width:672px;
        height:90%;
        margin: auto;
    }
    .ec-content-dreamerContent{
        width:320px;
        height:250px;
        float:left;
    }
}

/*中间底层内容的动态*/
.ec-content-activityConn{
    width: 600px;
    margin: auto;
    display: none;
}
.ec-content-activityContent{
    position: relative;
}
.activityContent1{
    width:600px;
    height:162px;
    float:left;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
}
.ec-content-activityConTop{
    width:560px;
    height:42px;
    margin: 10px 20px;
}
.ec-activityConTop-icon a img{
    width:38px;
    height:38px;
    border-radius: 50%;
    float:left;
}
.ec-activityConTop-name a{
    color: #4093c6;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 15px;
    font-weight: bold;
    float:left;
    margin-left:15px;
    margin-top:2px;
}
.ec-activityConTop-date{
    color:#A1A1A1;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 13px;
    float:left;
    margin-top:25px;
}
.activityCon-date1{
    margin-left:-60px;
}
.activityCon-date2{
    margin-left:-32px;
}
.ec-activityConTop-describe a{
    height:33px;
    text-align: center;
    line-height: 33px;
    padding: 0px 8px;
    border:1px solid #ddd;
    border-radius: 20px;
    display: inline-block;
    float:right;
    margin-right:20px;
    margin-top:4px;

}
.activityDescribe1{
    width:18px;
    height:18px;
    text-align: center;
    line-height: 18px;
    background: #0099FF;
    color:#fff;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top:-1px;
}
.activityDescribe2{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color: #0099FF;
}
.ec-content-activityConMiddle{
    width:600px;
    width:580px;
    margin-left:20px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color: #5F5F5F;
}
.activityConMiddle1{
    height:50px;
    line-height: 50px;
}
.ec-content-activityConDown{
    width:570px;
    height:40px;
    margin: 0px 15px;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #F6F5F6;
}
.ec-activityConDown-like{
    width:70px;
    height:40px;
    line-height: 40px;
    margin: 0px 5px;
    cursor: pointer;
}
.ec-activityConDown-like em{
    font-family:'wbficon';
    color:#BBB;
    font-size: 20px;
}
.ec-activityConDown-like span{
    padding-left:15px;
}
.ec-activityConDown-comment{
    width:70px;
    height:40px;
    line-height: 40px;
    margin: 0px 5px;
    float:left;
    margin-top:-40px;
    margin-left:100px;
    cursor: pointer;
}
.ec-activityConDown-comment em{
    font-family:'wbficon';
    color:#BBB;
    font-size: 20px;
}
.ec-activityConDown-comment span{
    padding-left:15px;
}
.ec-activityConDown-more{
    width:70px;
    height:40px;
    line-height: 40px;
    margin: 0px 5px;
    float:left;
    margin-top:-40px;
    margin-left:200px;
    cursor: pointer;
}
.ec-activityConDown-more span{
    font-family:'wbficon';
    color:#BBB;
    font-size: 12px;
}
.activityContent2{
    width:600px;
    height:452px;
    float:left;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
}
.activityConMiddle2 span{
    line-height: 50px;
}
.activityContent3{
    width:600px;
    height:215px;
    float:left;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
}
.activityConMiddle3 h3{
    text-align: center;
}
.activityConMiddle3 h3 a{
    color:#333333;
    font-weight: bold;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}
.activityConMiddle3 span{
    width:560px;
    line-height: 25px;
}



/*锚点：回到顶部*/
.goTop a{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius: 5px;
    background:#E2E2E2;
    position:absolute;
    bottom:80px;
    right:80px;
    position:fixed;
    display: none;
}
.goTopBtn{
    text-decoration:none;
    font-family: "wbficon" !important;
    font-size: 18px;
    font-weight: bolder;
    color:#333;
    display:inline-block;
}