*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #F4F4F4;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
@font-face{       /*特定字体*/
    font-family:'wbficon';
    src:url(../../public/woff/wbficon.woff),url(../../public/woff/wbficon.woff) format('woff');
}

/*导航栏部分*/
.navbar{
    width:100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0px 1px 1px #D8D8D8;
    position: fixed;
    z-index: 100;
}

.nav-information{
    width:320px;
    height:50px;
    line-height: 50px;
    position: relative;
    left: 30px;
}
.nav-information li{
    float:left;
}
.nav-information li.nav-info-first {
    border-bottom: 2px solid #00B4FF;
}
.nav-information li.nav-info-first a{
    color:#333;
}
.nav-information a{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 14px;
    color: #C4C4C4;
    padding: 0px 20px;
}
.nav-information li:hover{
    background: #f1f1f1;
}
.nav-information li:hover a{
    color:#333;
}

.nav-img-position{
    width: 100px;
    height: 50px;
    background: url("../../public/images/favicon.ico") no-repeat 30px 5px;
    background-size: 40px 40px;
    position: absolute;
    top:0px;
    left:50%;
    z-index: 10;
}
.nav-person{
    float:right;
    position: relative;
    top:-50px;

}
.nav-person-search{
    width:60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    right:90px;
}
.nav-person-img{
    width:60px;
    height:50px;
    text-align: center;
    position: absolute;
    right:30px;
}
.nav-person-img figure{
    margin-top: 10px;
}
.nav-search-icon{
    font-family: "wbficon" !important;
    font-size: 18px;
    color: #02B4FF;
}
.nav-person-img a img{
    width:30px;
    height:30px;
    line-height: 30px;
    border-radius: 50%;
}



/*内容部分*/
.content{
    width:69%;    /*960px*/
    margin: auto;
    position: relative;
    top:70px;
}

/*内容左边部分*/
.content-left{
    width:600px;   /*600px*/
    position: absolute;
    left:0px;
}
/*@media screen and (max-width:960px){
    .content-left{
        position: absolute;
        width:600px;
        height:120px;
        margin:0px auto;
        left:0px;
        right:0px;
    }
}*/
.cl-btn-container{
    width:600px;      /*600px*/
    height:120px;
    background: #fff;
    border-radius: 8px;
    box-shadow: #D8D8D8 0px 0px 10px;
}
.cl-btn-container ul li{
    float:left;
    width:199px;    /*199px*/
    height:120px;
    text-align: center;
    border-right: 1px solid #d8d8d8;
}
.cl-btn-container ul li.last{
    border:none;
}
.cl-add-img{
    margin: 25px 0px 10px 0px;
}
.cl-btn-container ul li p{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#999;
}


/*内容右边部分*/
.content-right{
    width:320px;
    position: absolute;
    left:640px;
}
.cr-part-info{
    width:320px;
    height:340px;
    border-radius: 8px;
    background: #fff;
    box-shadow: #D8D8D8 0px 0px 10px;
}
.cr-card-bg{
    width:320px;
    height:170px;
    border-radius: 8px 8px 0px 0px;
    background: #ccc;
}
.cr-card-dream-top-content{
    text-align: center;
    position: relative;
    top:16px;
}
.cr-card-dream-top-content img{
    width:74px;
    height:74px;
    border-radius:50%;
}
.ty-card-user-name{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#fff;
    margin: 6px 0px 12px;
}
.ty-card-user-now,.ty-card-user-future{
    font-size: 13px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#fff;
    margin: 5px 0px 0px;
}

.cr-card-dream{
    width:284px;
    height:33px;
    margin:18px;
}
.cr-card-dream-count{
    width:94.6px;
    height:33px;
    text-align: center;
    font-size: 13px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    float:left;
}
.cr-card-dream-count-num{
    font-size: 1.3em;
    color: #444;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 2px;
}
.cr-card-dream-font{
    font-size: 13px;
    color:#999;
    cursor: pointer;
    line-height: 14px;
}

.cr-card-dream-feeds{
    width:320px;
    position: absolute;
    left:4%;
}
.cr-card-dream-feeds a{
    width:84px;
    height:84px;
    border-radius: 5px;
    background: #ccc;
    display: inline-block;
    float:left;
    margin: 0px 7px;
}
.cr-card-dream-feed{
    width:64px;
    height:64px;
    display: inline-block;
    margin:10px;
    text-align: center;
    font-size: 13px;
    color:#fff;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}

.cr-app-download{
    width:320px;
    height:202px;
    border-radius: 8px;
    margin-top: 20px;
}
.cr-app-download a img{
    width:320px;
    height:202px;
    border-radius: 8px;
}

.cr-foot-right{
    width:320px;
    height:36px;
    margin-top: 10px;
    font-size:12px;
    color: #999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;

}
.cr-foot-right a{
    font-size:12px;
    color: #999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}



/*锚点：回到顶部*/
.goTop a{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius: 5px;
    background:#E2E2E2;
    position:absolute;
    bottom:80px;
    right:80px;
    position:fixed;
    display: none;
}
.goTopBtn{
    text-decoration:none;
    font-family: "wbficon" !important;
    font-size: 18px;
    font-weight: bolder;
    color:#333;
    display:inline-block;
}