*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #F4F4F4;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
@font-face{       /*特定字体*/
    font-family:'wbficon';
    src:url(../../public/woff/wbficon.woff),url(../../public/woff/wbficon.woff) format('woff');
}

/*导航栏部分*/
.navbar{
    width:100%;
    height: 50px;
    background: #fff;
    position: fixed;
    z-index: 100;
    background-color: transparent;
}
.navbar-border{
    border-bottom: 1px solid #D8D8D8;
}

.nav-information{
    width:320px;
    height:50px;
    line-height: 50px;
    position: relative;
    left: 30px;
}
.nav-information li{
    float:left;
    cursor: pointer;
}

.nav-information a{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 14px;
    color: #D8DBDC;
    padding: 0px 20px;
}
.nav-information li:hover a{
    color:#00B4FF;
}
.nav-information .nav-info-lis a{
    color: #7C7C7C;
}
.nav-information .nav-info-lis:hover a{
    color:#7C7C7C;
}
.nav-information .nav-info-third a{
    color:#000;
}
.nav-information .nav-info-third:hover a{
    color:#000;
}
span.dropDown-bow{
    font-family: wbficon;
}

.nav-img-position{
    width: 100px;
    height: 50px;
    background: url("../../public/images/favicon.ico") no-repeat 30px 5px;
    background-size: 40px 40px;
    position: absolute;
    top:0px;
    left:46%;
    z-index: 10;
}
.nav-person{
    float:right;
    position: relative;
    top:-50px;

}
.nav-person-search{
    width:60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    right:90px;
}
.nav-person-img{
    width:60px;
    height:50px;
    text-align: center;
    position: absolute;
    right:30px;
}
.nav-person-img figure{
    margin-top: 10px;
}
.nav-search-icon{
    font-family: "wbficon" !important;
    font-size: 18px;
    color: #02B4FF;
}
.nav-person-img a img{
    width:30px;
    height:30px;
    line-height: 30px;
    border-radius: 50%;
}


/*内容的上半部分*/
.mf-content-top{
    width:100%;
    height:528px;
    background: #949494;
    text-align: center;
    vertical-align: middle;
}
.mf-profile-motto-container{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: #D4D3D3;
    text-align: center;
    background: none;
    border:none;
    overflow: hidden;
    outline: none;
    resize: none;
    position: relative;
    top: 50%;
    transform: translate3d(0px, -50%, 0px);
}


.mf-profile-content{
    width:100%;
    height:165px;
    background: #fff;
    position: absolute;
    z-index: 4;
}
.mf-profile-content-row{
    width:74px;
    height:74px;
    border-radius: 50%;
    background: url("../../public/images/blank.png") no-repeat ;
    background-size: cover;
    margin: auto;
    position: relative;
    top:-37px;
    z-index: 2;
    overflow: hidden;

}
.mf-profile-content-row:hover .mf-profile-content-row-a{
    transition: transform 0.5s linear;
    transform: translate(0px);
}
.mf-profile-content-row-a{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    color:#fff;
    text-align: center;
    display: block;
    font-size: 12px;
    left: 4px;
    padding: 6px;
    position: absolute;
    top: 32px;
    transform: translate(0px, 52px);
    transition: transform 0.5s ease-in-out 0s;
    width: 56px;
    z-index: 3;
    cursor: pointer;
}
.mf-profile-modify-content{
    width:100%;
    height:100px;
    text-align: center;
    margin-top: -20px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}
.mf-profile-modcon-name{
    line-height: 26px;
    margin-bottom:15px;
    color:#444;
}
.mf-profile-modcon-tro,.mf-profile-modcon-futrue{
    margin-bottom:15px;
    color: #999;
    font-size:13px;
}
.mf-profile-modify-btn-container{
    width:78px;
    height:35px;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
    border-radius: 5px;
    background:#f4f4f4;
    float:right;
    position: relative;
    right:45px;
    top:-125px;
}
.mf-profile-modify-btn-container a{
    color: #5C5C5C;
    font-size: 13px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    transition: color 1s ;
}
.mf-profile-modify-btn-container:hover a{
    color: #07abff;
}
.mf-avatar-modal{
    border-radius: 5px;
    left:550px;
    margin: 0 auto;
    position: absolute;
    top: 85px;
    width: 250px;
    box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transform: scale(0);
}
.mf-avatar-content{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    margin-top: -32px;
    position: relative;
}
.mf-avater-dropdown-content{
    color: #333;
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.mf-avatar-modal-tab{
    border-bottom:1px solid #ccc;
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 50%;
    display: inline-block;
    font-size: 15px;
    text-align: center;
}
.mf-avatar-modal-content{
    box-sizing: border-box;
    display: none;
    height: 290px;
    padding-top: 40px;
    width: auto;
}
.mf-avatar-modal-content-show{

    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    color: #777;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin:20px auto 10px;
    position: relative;
    text-align: center;
    width: 200px;
    display: block;
}
.mf-avatar-upload-image-btn{
    font-size: 16px;
    font-weight: 100;

}
.mf_avatar_bg_image{
    opacity: 0;
    position: absolute;
    display: inline-block;
    height:40px;
    top:0px;
    left:0px;

}
.mf-color-picker-content{
    padding-top: 10px;
    overflow: hidden;
   margin-left: 22px;
}
.mf-color-picker{
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin: 0 2px;
    width: 25px;
    /*border: 2px solid #fff;*/
}
.mf-active{
    border: 2px solid #fff;
    width: 21px;
    height: 21px;
}
.mf-color-picker-content-item{
    padding-top: 10px;
    overflow: hidden;
    margin-left: 10px;
}
.mf-color-picker-item{
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 35px;
    margin: 3px;
    width: 29%;
}

.mf-avatar-modal-change-big{
    transition:transform 0.1s linear;
    transform: scale(1);
}
.mf-avatar-modal-change-small{
    transition:transform 0.1s linear;
    transform: scale(0);

}



/*时间轴部分*/
.mf-content-timeline{
    width:100%;
    height:270px;
    background: #ffc6cc;
}

/*内容部分的低端*/
.mf-content-bottom{
    width:100%;
}
.mf-content-BottConn{
    width:960px;
    height:800px;
    margin: auto;
    margin-top:30px;
}
.mf-content-BottLeft{      /*内容部分的低端的左边*/
    float:left;
    width:600px;
}
.mf-Content-BottLeft-nav{     /*内容部分的低端的左边导航栏部分*/
    width:600px;
    height:40px;
    border-radius: 10px;
    background: #fff;
}
.mf-Content-BottLeft-nav li{
    width:200px;
    height:40px;
    text-align: center;
    line-height: 40px;
    float:left;
    color:#919191;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 13px;
    font-weight: bold;
    transition: color 1s;
    cursor: pointer;
}
.mf-Content-BottLeft-nav li:hover{
    color:#16BAFF;
}
.mf-Content-BottLeft-nav li .record{
    padding:12px;
    color:#16BAFF;
    border-bottom: 2px solid #16BAFF;
}

.mf-content-BottLeft-idea{      /*内容部分的低端的左边想法部分*/
    width:600px;
    height:120px;
    background: #fff;
    border-radius: 10px;
    margin-top:20px;
}
.mf-content-BottLeft-idea li{
    float:left;
    width:299px;
    height:120px;
    text-align: center;
}
.mf-content-BottLeft-idea li a{
    color:#999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 13px;
}
.mf-content-BottLeft-idea li.first{
    border-right: 1px solid #E2E2E2;
}
.mf-content-BottLeft-idea li.second{
    border-left: 1px solid #E2E2E2;
}
.mf-content-BottLeft-idea li img{
    margin:15px 0px;
}
.waggleImg{
    transform-origin:center;
    -webkit-animation:0.6s waggle;
}
@-webkit-keyframes waggle{
    0%{
        -webkit-transform:rotate(15deg);
    }
    25%{
        -webkit-transform:rotate(-15deg);
    }
    50%{
        -webkit-transform:rotate(10deg);
    }
    75%{
        -webkit-transform:rotate(-10deg);
    }
    100%{
        -webkit-transform:rotate(5deg);
    }
}


.mf-content-BottLeft-publish{     /*内容部分的低端的左边发表文章部分*/
    width:600px;
    height:400px;
    background: #fff;
    border-radius:10px;
    margin-top:20px;
}


.mf-content-BottRight{     /*内容部分的低端的右边*/
    float:right;
    width:320px;
}

.mf-BottRight-DreamInfo-headline{
    width:310px;
    height:44px;
    line-height: 44px;
    background: #fff;
    color: #666;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    font-size: 13px;
    border-bottom: 2px solid #F6F5F6;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
}
.mf-BottRight-DreamInfo-headline .deleteInfo{
    font-family: wbficon;
    font-size:20px;
    color:#999;
    float:right;
    margin-right:10px;
}

.mf-BottRight-DreamInfo-img{
    width:320px;
    height:170px;
    background: #fff;
    border-bottom: 2px solid #F6F5F6;
}
.mf-BottRight-DreamInfo-img a{
    width:300px;
    height:150px;
    background: url("../../public/images/bt-c3.jpg");
    display: inline-block;
    margin:4px 10px 10px 10px;
}

.mf-BottRight-DreamInfo-Name,.mf-BottRight-DreamInfo-State,.mf-BottRight-DreamInfo-Time,.mf-BottRight-DreamInfo-Privacy,.mf-BottRight-DreamInfo-Lable{
    width:320px;
    height:40px;
    line-height: 40px;
    background: #fff;
    border-bottom: 2px solid #F6F5F6;
}
.mf-BottRight-DreamInfo-name,.mf-BottRight-DreamInfo-state,.mf-BottRight-DreamInfo-time,.mf-BottRight-DreamInfo-privacy,.mf-BottRight-DreamInfo-lable{
    padding:11px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#9A9A9A;
    font-size: 14px;
}
.mf-BottRight-DreamInfo-Nword,.mf-BottRight-DreamInfo-Tword{
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#444;
    font-size: 14px;
}
.mf-BottRight-DreamInfo-Neditor a,.mf-BottRight-DreamInfo-Deditor a,.mf-BottRight-DreamInfo-Seditor a,.mf-BottRight-DreamInfo-Teditor a,.mf-BottRight-DreamInfo-Beditor a{
    width:55px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background: #F5F5F5;
    border-radius: 15px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#9f9f9f;
    font-size: 14px;
    display: inline-block;
}

.mf-BottRight-DreamInfo-Dispict{
    width:320px;
    height:147px;
    background: #fff;
    border-bottom: 2px solid #F6F5F6;
}
.mf-BottRight-DreamInfo-dispict{
    padding:11px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#9A9A9A;
    font-size: 14px;
    float:left;
}
.mf-BottRight-DreamInfo-Dword{
    width:208px;
    height:143px;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color:#444;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    float:left;
    padding-left:8px;
    padding-top: 2px;
}
.mf-BottRight-DreamInfo-Deditor a{
    float:right;
    margin-top: -43px;
    margin-right: 43px;
}

.mf-BottRight-DreamInfo-Sword{
    width:24px;
    height:24px;
    text-align: center;
    line-height: 24px;
    background: #09f;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    display: inline-block;
}

.mf-BottRight-DreamInfo-Lable{
    border-radius: 0px 0px 10px 10px;
}


.mf-BottRight-app-download{
    width:320px;
    height:202px;
    border-radius: 8px;
    margin-top: 20px;
}
.mf-BottRight-app-download a img{
    width:320px;
    height:202px;
    border-radius: 8px;
}

.mf-BottRight-foot-right{
    width:320px;
    height:36px;
    margin-top: 10px;
    font-size:12px;
    color: #999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;

}
.mf-BottRight-foot-right a{
    font-size:12px;
    color: #999;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,Helvetica,Tahoma,sans-serif;
}
.mf-BottRight-foot-right a:hover{
    color:#444;
}


/*锚点：回到顶部*/
.goTop a{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius: 5px;
    background:#E2E2E2;
    position:absolute;
    bottom:80px;
    right:80px;
    position:fixed;
    display: none;
}
.goTopBtn{
    text-decoration:none;
    font-family: "wbficon" !important;
    font-size: 18px;
    font-weight: bolder;
    color:#333;
    display:inline-block;
}


