<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 与世界分享你的追梦历程</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/discover.css" />
</head>
<body>
    <nav class="navbar">
        <ul class="nav-information">
            <li><a href="">动态</a></li>
            <li class="nav-info-second"><a href="">发现</a></li>
            <li><a href="">我的未来</a></li>
            <li><a href="">来往</a></li>
        </ul>
        <div class="nav-img-position"></div>
        <div class="nav-person">
            <a class="nav-person-search" href=""><span class="nav-search-icon">f</span></a>
            <div class="nav-person-img">
                <figure>
                    <a href=""><img src="../../public/images/blank.png" /></a>
                </figure>
                <div class="nav-logout"></div>
            </div>
        </div>
    </nav>

    <div class="explore-channel-content">
        <ul class="ec-images">
            <li class="bt-channel bt-ch1">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">生活</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch2">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">学习</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch3">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">工作</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch4">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">创新</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch5">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">健康</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch6">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">旅行</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch7">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">文艺</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="bt-channel bt-ch8">
                <a class="bt-channel-content" href="">
                    <div class="bt-channel-panel">情感</div>
                    <div class="bt-channel-dynamic">
                        <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                            <p class="bt-bold-count">13405</p>
                            <p>梦想</p>
                        </div>
                        <div class="bt-col-6" style="text-align: center">
                            <p class="bt-bold-count">19965</p>
                            <p>动态</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="ec-content-bottom">
            <ul class="ec-content-nav">
                <li class="ec-content-dream"><a href="">梦想</a></li>
                <li class="ec-content-dreamer"><a href="">梦想家</a></li>
                <li class="ec-content-activity"><a href="">动态</a></li>
            </ul>

            <div class="ec-content-dreamConn">
                <div class="ec-content-dreamContent ec-dreamContent0">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn1">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 马甲线养成记 </div>
                                <div class="ec-content-dreamConnUp-small"> 2017年06月21日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard0">
                            身材得自己满意
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot0">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">4</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent1">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn2">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 你是年少的喜欢 </div>
                                <div class="ec-content-dreamConnUp-small"> 2023年04月22日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard1">
                            喜欢你是我这辈子做过最美好的事。
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot1">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">202</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">2</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">29</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent2">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn3">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 早起读书笔记 </div>
                                <div class="ec-content-dreamConnUp-small"> 2016年07月24日 已实现 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard2">
                            知识是厚重的，为了提升的文化素养，做个有内涵的人！
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot2">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">157</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">13</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">420</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent3">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn4">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 学会漫画 </div>
                                <div class="ec-content-dreamConnUp-small"> 2018年04月06日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard3">
                            大概是有爱。
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot3">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">208</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">20</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">211</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent4">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn5">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 文艺青年 </div>
                                <div class="ec-content-dreamConnUp-small"> 2018年06月28日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard4">
                            完美主义 理想主义
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot4">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">5</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent5">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn6">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 2019，清华 </div>
                                <div class="ec-content-dreamConnUp-small"> 2019年06月29日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard5">
                            2019年高考， 长年活在第一名阴影之下的第二 或许前路坎坷， 只求问心无愧！ 为梦，坚持！
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot5">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">146</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">5</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">49</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent6">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn7">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 二本 </div>
                                <div class="ec-content-dreamConnUp-small"> 2017年07月07日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard6">
                            你已经荒废了那么长时间，在最后的六十多天里，希望你能创造一个奇迹，我相信你
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot6">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">1</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamContent ec-dreamContent7">
                    <a href="">
                        <i class="ec-content-dreamConnLog"></i>
                        <div class="ec-content-dreamConnUp ec-conn8">
                            <div class="ecDreamConnUp">
                                <div class="ec-content-dreamConnUp-title"> 吾日三省吾身 </div>
                                <div class="ec-content-dreamConnUp-small"> 2018年03月29日 进行中 </div>
                            </div>
                        </div>
                        <div class="ec-content-dreamConnCard ec-connCard7">
                            做不到啊，尽量吧。
                        </div>
                        <div class="ec-content-dreamConnFoot ec-dreamConnFoot7">
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">6</p>
                                <p>动态</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">1</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamConnFoot-col">
                                <p class="ec-dreamConnFoot-count">0</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ec-content-dreamerConn">
                <div class="ec-content-dreamerContent ec-dreamerContent0">
                    <a href="">
                        <i class="ec-content-dreamerConnLog"></i>  <!--字体图标-->
                        <div class="ec-content-dreamerConnUp ec-dreamer0">
                            <div class="ecDreamerConnUp">
                                <p class="ec-content-dreamerConnUp-name"> Diaries_ </p>
                            </div>
                        </div>
                        <div class="ec-content-DreamerConnIcon DreamerConnIcon0"></div>
                        <div class="ec-content-dreamerConnCard">
                            <p>现在是 <span>学生</span></p>
                            <p>想成为 <span>心灵手巧的菇凉</span></p>
                        </div>
                        <div class="ec-content-dreamerConnFoot">
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">14</p>
                                <p>梦想</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">1123</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">1194</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamerContent ec-dreamerContent1">
                    <a href="">
                        <i class="ec-content-dreamerConnLog"></i>  <!--字体图标-->
                        <div class="ec-content-dreamerConnUp ec-dreamer1">
                            <div class="ecDreamerConnUp">
                                <p class="ec-content-dreamerConnUp-name"> 玄泽霂 </p>
                            </div>
                        </div>
                        <div class="ec-content-DreamerConnIcon DreamerConnIcon1"></div>
                        <div class="ec-content-dreamerConnCard">
                            <p>现在是 <span>学生</span></p>
                            <p>想成为 <span>平安喜乐</span></p>
                        </div>
                        <div class="ec-content-dreamerConnFoot">
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">9</p>
                                <p>梦想</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">605</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">677</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamerContent ec-dreamerContent2">
                    <a href="">
                        <i class="ec-content-dreamerConnLog"></i>  <!--字体图标-->
                        <div class="ec-content-dreamerConnUp ec-dreamer2">
                            <div class="ecDreamerConnUp">
                                <p class="ec-content-dreamerConnUp-name"> 木荷 </p>
                            </div>
                        </div>
                        <div class="ec-content-DreamerConnIcon DreamerConnIcon2"></div>
                        <div class="ec-content-dreamerConnCard">
                            <p>现在是 <span>天马行空的妄想家</span></p>
                            <p>想成为 <span>旅者和实干家</span></p>
                        </div>
                        <div class="ec-content-dreamerConnFoot">
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">8</p>
                                <p>梦想</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">290</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">106</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamerContent ec-dreamerContent3">
                    <a href="">
                        <i class="ec-content-dreamerConnLog"></i>  <!--字体图标-->
                        <div class="ec-content-dreamerConnUp ec-dreamer3">
                            <div class="ecDreamerConnUp">
                                <p class="ec-content-dreamerConnUp-name"> 笤生 </p>
                            </div>
                        </div>
                        <div class="ec-content-DreamerConnIcon DreamerConnIcon3"></div>
                        <div class="ec-content-dreamerConnCard">
                            <p>现在是 <span>大学生</span></p>
                            <p>想成为 <span>更好更优秀的人</span></p>
                        </div>
                        <div class="ec-content-dreamerConnFoot">
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">4</p>
                                <p>梦想</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">148</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">128</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="ec-content-dreamerContent ec-dreamerContent4">
                    <a href="">
                        <i class="ec-content-dreamerConnLog"></i>  <!--字体图标-->
                        <div class="ec-content-dreamerConnUp ec-dreamer4">
                            <div class="ecDreamerConnUp">
                                <p class="ec-content-dreamerConnUp-name"> 多看书 </p>
                            </div>
                        </div>
                        <div class="ec-content-DreamerConnIcon DreamerConnIcon4"></div>
                        <div class="ec-content-dreamerConnCard">
                            <p>现在是 <span>信息碎片化患者</span></p>
                            <p>想成为 <span>一个有文化的人</span></p>
                        </div>
                        <div class="ec-content-dreamerConnFoot">
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">0</p>
                                <p>梦想</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">0</p>
                                <p>钦佩</p>
                            </div>
                            <div class="ec-dreamerConnFoot-col">
                                <p class="ec-dreamerConnFoot-count">9</p>
                                <p>关注者</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ec-content-activityConn">
                <div class="ec-content-activityContent activityContent1">
                    <div class="ec-content-activityConTop">
                        <span class="ec-activityConTop-icon">
                            <a href="" title="小荷西西" target="_blank"><img src="../../public/images/activity-icon1.png" alt="头像"></a>
                        </span>
                        <span class="ec-activityConTop-name">
                            <a href="" title="小荷西西" target="_blank">小荷西西</a>
                        </span>
                        <span class="ec-activityConTop-date activityCon-date1">3小时前</span>
                        <div class="ec-activityConTop-describe"><a href="">
                            <span class="activityDescribe1">梦</span>
                            <span class="activityDescribe2">读书100本</span>
                        </a></div>
                    </div>
                    <div class="ec-content-activityConMiddle activityConMiddle1">
                        <span>《人啊，人》读了十分之一。好长啊，我有点读不下去。</span>
                    </div>
                    <div class="ec-content-activityConDown">
                        <div class="ec-activityConDown-like">
                            <em>â</em><span>11</span>
                        </div>
                        <div class="ec-activityConDown-comment">
                            <em>-</em><span>22</span>
                        </div>
                        <div class="ec-activityConDown-more">
                            <span>D</span><span>D</span><span>D</span>
                        </div>
                    </div>
                </div>

                <div class="ec-content-activityContent activityContent2">
                    <div class="ec-content-activityConTop">
                        <span class="ec-activityConTop-icon">
                            <a href="" title="权止" target="_blank"><img src="../../public/images/activity-icon2.png" alt="头像"></a>
                        </span>
                        <span class="ec-activityConTop-name">
                            <a href="" title="权止" target="_blank">权止</a>
                        </span>
                        <span class="ec-activityConTop-date activityCon-date2">13小时前</span>
                        <div class="ec-activityConTop-describe"><a href="">
                            <span class="activityDescribe1">梦</span>
                            <span class="activityDescribe2">我一直都在流浪</span>
                        </a></div>
                    </div>
                    <div class="ec-content-activityConMiddle activityConMiddle2">
                        <img src="../../public/images/activity-img2.jpg" style="width:560px;height:300px;border-radius: 10px" />
                        <span>嘿，少年，我来看海。</span>
                    </div>
                    <div class="ec-content-activityConDown">
                        <div class="ec-activityConDown-like">
                            <em>â</em><span>1</span>
                        </div>
                        <div class="ec-activityConDown-comment">
                            <em>-</em><span></span>
                        </div>
                        <div class="ec-activityConDown-more">
                            <span>D</span><span>D</span><span>D</span>
                        </div>
                    </div>
                </div>

                <div class="ec-content-activityContent activityContent3">
                    <div class="ec-content-activityConTop">
                        <span class="ec-activityConTop-icon">
                            <a href="" title="俱决" target="_blank"><img src="../../public/images/activity-icon3.png" alt="头像"></a>
                        </span>
                        <span class="ec-activityConTop-name">
                            <a href="" title="俱决" target="_blank">俱决</a>
                        </span>
                        <span class="ec-activityConTop-date activityCon-date2">12小时前</span>
                        <div class="ec-activityConTop-describe"><a href="">
                            <span class="activityDescribe1">梦</span>
                            <span class="activityDescribe2">坚持画画的人</span>
                        </a></div>
                    </div>
                    <div class="ec-content-activityConMiddle activityConMiddle3">
                        <h3><a href="">毕业</a></h3>
                        <span>还有两个月就要毕业，或者说，我已经毕业了，已经找到工作，在上班过后还可以画自己的漫画，很满足，但是也有一点小失落，因为拙劣</span>
                    </div>
                    <div class="ec-content-activityConDown">
                        <div class="ec-activityConDown-like">
                            <em>â</em><span></span>
                        </div>
                        <div class="ec-activityConDown-comment">
                            <em>-</em><span></span>
                        </div>
                        <div class="ec-activityConDown-more">
                            <span>D</span><span>D</span><span>D</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--锚点-->
    <div class="goTop"><a href="#top" class="goTopBtn" title="返回顶部">Ú</a></div>
    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script>
        <!--锚点-->
        $(window.onscroll=function () {
            var top=$(document).scrollTop() ? $(document).scrollTop() : $("body").scrollTop();
            //console.log(top);
            if(top>0){
                $(".goTopBtn").fadeIn();
            }else if(top==0){
                $(".goTopBtn").fadeOut();
            }
        });

        <!--内容中的动画事件-->
        for(var i=0;i<$(".ec-content-dreamerContent").length;i++){
            //console.log($(".ec-dreamContent"+i));
            (function(j){
                $(".ec-dreamContent"+i).hover(function(){
                    $(this).addClass("ec-content-dreamContentZoom");
                },function(){
                    $(this).removeClass("ec-content-dreamContentZoom");
                });
            })(i);
        }

        for(var j=0;j<$(".ec-content-dreamContent").length;j++){
            //console.log($(".ec-dreamContent"+i));
            (function(i){
                $(".ec-dreamerContent"+j).hover(function(){
                    $(this).addClass("ec-content-dreamContentZoom");
                },function(){
                    $(this).removeClass("ec-content-dreamContentZoom");
                });
            })(i);
        }

        <!--底部内容进行切换-->
        $(".ec-content-dream").click(function(){
            $(".ec-content-dreamConn").show();
            $(".ec-content-dreamerConn").hide();
            $(".ec-content-activityConn").hide();

        });
        $(".ec-content-dreamer").click(function(){
            $(".ec-content-dreamConn").hide();
            $(".ec-content-dreamerConn").show();
            $(".ec-content-activityConn").hide();

        });
        $(".ec-content-activity").click(function(){
            $(".ec-content-dreamConn").hide();
            $(".ec-content-dreamerConn").hide();
            $(".ec-content-activityConn").show();

        });
    </script>
</body>
</html>