<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 与世界分享你的追梦历程</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dynamicStatic.css" />
</head>
<body>
    <nav class="navbar">
        <ul class="nav-information">
            <li class="nav-info-first"><a href="">动态</a></li>
            <li><a href="">发现</a></li>
            <li><a href="">我的未来</a></li>
            <li class="nav-info-fourth"><a>来往<span class="dropDown-bow">c</span></a></li>
        </ul>
        <div class="nav-img-position"></div>
        <div class="nav-person">
            <a class="nav-person-search" href=""><span class="nav-search-icon">f</span></a>
            <div class="nav-person-img">
                <figure>
                    <a href=""><img src="../../public/images/blank.png" /></a>
                </figure>
                <div class="nav-logout"></div>
            </div>
        </div>
    </nav>

    <!--来往的弹出框-->
    <div class="contact-box" style="display: none;">
        <span class="out"></span><span class="iner"></span>
        <div class="contact-box-nav">
            <li class="contact-box-nav-concern" onclick="contactNav(0)">H</li>
            <li class="contact-box-nav-admire" onclick="contactNav(1)">C</li>
            <li class="contact-box-nav-comment" onclick="contactNav(2)">-</li>
            <li class="contact-box-nav-message" onclick="contactNav(3)">I</li>
        </div>
        <div class="contact-box-content">
            <div class="contact-box-conn contact-conn0" style="display: none">
                <p class="contactBoxTitle">目前还没有人关注你</p>
                <p class="contactBoxWord">有时候主动一点，会有意想不到的收获</p>
            </div>
            <div class="contact-box-conn contact-conn1" >
                <p class="contactBoxTitle">目前还没有钦佩哦</p>
                <p class="contactBoxWord">有时候多做比多说更容易得到别人的钦佩</p>
            </div>
            <div class="contact-box-conn contact-conn2" style="display: none">
                <p class="contactBoxTitle">目前还没有人评论</p>
                <p class="contactBoxWord">成为改变世界的人之前，先改变自己</p>
            </div>
            <div class="contact-box-conn contact-conn3" style="display: none">
                <p class="contactBoxTitle">目前还没有消息</p>
                <p class="contactBoxWord">我们总是在抱怨事与愿违，却不愿意回头看看自己</p>
            </div>
        </div>
        <div class="contact-box-foot">查看更多</div>
    </div>
    <div class="more">
        <ul class="contact-box-nav">
            <li class="contact-box-nav-concern contactNav0" onclick="contactNav(0)">H</li>
            <li class="contact-box-nav-admire contactNav1" onclick="contactNav(1)">C</li>
            <li class="contact-box-nav-comment contactNav2" onclick="contactNav(2)">-</li>
            <li class="contact-box-nav-message contactNav3" onclick="contactNav(3)">I</li>
        </ul>
        <div class="contact-box-content">
            <div class="contact-box-conn contact-conn0" style="display: none">
                <p class="contactBoxTitle">目前还没有人关注你</p>
                <p class="contactBoxWord">有时候主动一点，会有意想不到的收获</p>
            </div>
            <div class="contact-box-conn contact-conn1" >
                <p class="contactBoxTitle">目前还没有钦佩哦</p>
                <p class="contactBoxWord">有时候多做比多说更容易得到别人的钦佩</p>
            </div>
            <div class="contact-box-conn contact-conn2" style="display: none">
                <p class="contactBoxTitle">目前还没有人评论</p>
                <p class="contactBoxWord">成为改变世界的人之前，先改变自己</p>
            </div>
            <div class="contact-box-conn contact-conn3" style="display: none">
                <p class="contactBoxTitle">目前还没有消息</p>
                <p class="contactBoxWord">我们总是在抱怨事与愿违，却不愿意回头看看自己</p>
            </div>
        </div>

        <a href="javascript:back()" id="back">
            <span class="back-top">d</span>
        </a>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="content-left">
                    <div class="cl-btn-container">
                        <ul>
                            <li><a href="">
                                <div class="cl-add-img cl-add-mood-img">
                                    <img id="waggleImgs0" src="../../public/images/cl-icon-light.png" style="width:58px;height:50px;" />
                                </div>
                                <p>想法</p>
                            </a></li>
                            <li><a href="">
                                <div class="cl-add-img cl-add-article-img">
                                    <img id="waggleImgs1" src="../../public/images/cl-icon-log.png" style="width:58px;height:50px;" />
                                </div>
                                <p>日志</p>
                            </a></li>
                            <li class="last"><a href="">
                                <div class="cl-add-img cl-add-play-img">
                                    <img id="waggleImgs2" src="../../public/images/cl-icon-plan.png" style="width:58px;height:50px;" />
                                </div>
                                <p>计划</p>
                            </a></li>
                        </ul>
                    </div>

                    <div id="cl_feeds_container" >
                        <div class="cl-loading">
                            <div class="cl-loading-up">
                                <div class="cl-loading-upIcon"></div>
                                <div class="cl-loading-upTitle">
                                    <div class="cl-upTitle-name">彭敬亭</div>
                                    <div class="cl-upTitle-date">几秒前</div>
                                </div>
                            </div>
                            <div class="cl-loading-middle">
                                <div class="cl-loading-middleConn">
                                    <img src="../../public/images/13.jpeg" />
                                    <div class="cl-loading-middleConnBg">
                                        <div class="cl-middleConnBg-title"><em>梦</em>新疆</div>
                                        <div class="cl-middleConnBg-date"> 2017年04月09日 </div>
                                        <div class="cl-middleConnBg-status"><b>进行中</b></div>
                                    </div>
                                    <span>来一场说走就走的旅行</span>
                                </div>
                            </div>
                            <div class="cl-loading-down">
                                <div class="cl-loading-downike">
                                    <em>â</em><span></span>
                                </div>
                                <div class="cl-loadding-downComment">
                                    <em>-</em><span></span>
                                </div>
                                <div class="cl-loadding-downMore">
                                    <span>D</span><span>D</span><span>D</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-right hidden-sm hidden-xs">
                    <div class="cr-part-info">
                        <div class="cr-card-bg">
                            <div class="cr-card-dream-top-content">
                                <img class="cr-card-user-img" src="../../public/images/blank.png" alt=""/>
                                <h5 class="ty-card-user-name">黄伯伯</h5>
                                <p class="ty-card-user-now">现在是&nbsp;|&nbsp;抢红包</p>
                                <p class="ty-card-user-future">想成为&nbsp;|&nbsp;继续抢红包</p>
                            </div>
                        </div>
                        <div class="cr-card-dream">
                            <a href="">
                                <div class="cr-card-dream-count ">
                                    <p class="cr-card-dream-count-num" title="">3</p>
                                    <p class="cr-card-dream-font">梦想</p>
                                </div>
                            </a>
                            <a class="cr-card-dream-count">
                                <p class="cr-card-dream-count-num" title="">1</p>
                                <p class="cr-card-dream-font">关注</p>
                            </a>
                            <a class="cr-card-dream-count">
                                <p class="cr-card-dream-count-num" title="">1</p>
                                <p class="cr-card-dream-font">关注者</p>
                            </a>
                        </div>
                        <div class="cr-card-dream-feeds">
                            <a href="" title="工作" target="_blank">
                                <p class="cr-card-dream-feed cr-layover">
                                    <span class="ty-card-feed-content" >工作</span>
                                </p>
                            </a>
                            <a href="" title="理解「十年后」以及人生" target="_blank">
                                <p class="cr-card-dream-feed cr-layover">
                                    <span class="ty-card-feed-content" >理解「十年后」以及人生</span>
                                </p>
                            </a>
                            <a href="" title="继续抢红包" target="_blank">
                                <p class="cr-card-dream-feed cr-layover">
                                    <span class="ty-card-feed-content" >继续抢红包</span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="cr-app-download">
                        <a href="" target="_blank">
                            <img src="../../public/images/appdownload.png" alt="" />
                        </a>
                    </div>
                    <div class="cr-foot-right">
                        © 2015 - 2016 十年后 ·
                        <a href="" target="_blank">关于</a> ·
                        <a href="" target="_blank">成员</a> ·
                        <a href="" target="_blank">加入我们</a> ·
                        <a href="" target="_blank">用户协议</a> ·
                        <a href="" target="_blank">媒体报道</a> ·
                        <a href="" target="_blank">下载应用</a> ·
                        <a href="" target="_blank">回到旧版</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--锚点-->
    <div class="goTop"><a href="#top" class="goTopBtn" title="返回顶部">Ú</a></div>


    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script>
        $(window.onscroll=function () {
            var top=$(document).scrollTop() ? $(document).scrollTop() : $("body").scrollTop();
            /*console.log(top);*/
            if(top>0){
                $(".goTopBtn").fadeIn();
            }else if(top==0){
                $(".goTopBtn").fadeOut();
            }
        });

        /*鼠标移入进行晃动*/
        var clBtnLis=$(".cl-btn-container ul li");
        for(var i=0;i<clBtnLis.length;i++){
            (function(i){
                clBtnLis.eq(i).mouseover(function(){
                    $("#waggleImgs"+i).addClass("waggleImg");
                });
                clBtnLis.eq(i).mouseout(function(){
                    $("#waggleImgs"+i).removeClass("waggleImg");
                });
            })(i);
        }

        /*来往的弹出框效果*/
        var flag=1;
        $(".nav-info-fourth").click(function(){
            if(flag==true){
                $(".dropDown-bow").html("&nbsp;d");
                $('.contact-box').show();
                flag=2;
            }else if(flag==2){
                $(".dropDown-bow").html("&nbsp;c");
                $('.contact-box').hide();
                flag=1;
            }else {
                return;
            }
        });
        //先动态添加hover样式
        for(var z=0;z<4;z++){
            $(".contactNav" + z).mouseenter(function () {
                $(this).css({"color": "#00B4FF"});
            });
            $(".contactNav" + z).mouseleave(function () {
                $(this).css({"color": "#ddd"});
            })
        }
        function contactNav(i){

            for(var j=0;j<4;j++){

                if(i==j){
                    $(".contact-conn"+j).show();
                    $(".contactNav"+j).mouseleave(function () {
                        $(this).css({"color":"#00B4FF"});
                    });
                    $(this).css({"color":"#00B4FF"});
                }else {
                    $(".contact-conn" + j).hide();
                    $(".contactNav" + j).mouseenter(function () {
                        $(this).css({"color": "#00B4FF"});
                    });
                    $(".contactNav" + j).mouseleave(function () {
                        $(this).css({"color": "#ddd"});
                    })
                    $(".contactNav"+j).css({"color":"#ddd"});
                }

            }
        }
        //查看更多
        $(".contact-box-foot").click(function () {
            $(".contact-box").hide();
            $(".more").show()
            $(".more").addClass("more-show");
            $(".more").removeClass("more-hide");
            flag=3;
        })
        function back() {
            $(".more").removeClass("more-show");
            $(".more").addClass("more-hide");
            $(".dropDown-bow").html("&nbsp;c");
            flag=1;
        }
    </script>
</body>
</html>