<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 与世界分享你的追梦历程</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>

    <link rel="stylesheet" href="../css/MyFuture.css" />
</head>
<body onload="init();">
    <nav class="navbar">
        <ul class="nav-information">
            <li class="nav-info-lis"><a href="">动态</a></li>
            <li class="nav-info-lis"><a href="">发现</a></li>
            <li class="nav-info-three nav-info-third"><a href="">我的未来</a></li>
            <li class="nav-info-lis"><a href="">来往<span class="dropDown-bow">c</span></a></li>
        </ul>
        <div class="nav-img-position"></div>
        <div class="nav-person">
            <a class="nav-person-search" href=""><span class="nav-search-icon">f</span></a>
            <div class="nav-person-img">
                <figure>
                    <a href=""><img src="../../public/images/blank.png" /></a>
                </figure>
                <div class="nav-logout"></div>
            </div>
        </div>
    </nav>

    <div class="mf-content-top">
        <textarea cols="45" rows="1" id="proverbs" class="mf-profile-motto-container">在这里输入个人箴言</textarea>
    </div>

    <div class="mf-profile-content">
        <div class="mf-profile-content-row"><a class="mf-profile-content-row-a" id="mf-profile-content-row-a" >编辑头像</a></div>
        <div id="mf-avatar-modal" class="mf-avatar-modal" >
            <div class="mf-avatar-content">
            <div class="mf-avater-dropdown-content">
                <p class="mf-avatar-modal-tab " id="mf-avatar-modal-tab-font" data-index="0">文字</p>
                <p class="mf-avatar-modal-tab" id="mf-avatar-modal-tab-background" data-index="1">背景</p>
            </div>
            <div id="mf_avatar_modal_content" class="mf-avatar-modal-content" style="display: block;">
                <input id="mf-avatar-name-input" class="mf-avatar-modal-content-show" placeholder="空" maxlength="4" type="text" >
                <a class="mf-avatar-upload-image-btn mf-avatar-modal-content-show" id="mf-avatar-upload-image-btn" href="javascript:void(0);" style="display: none;">
                    <i class="mf-icon-camera-add"></i>
                    使用图片
                    <input id="mf_avatar_bg_image" type="file" class="mf_avatar_bg_image">
                </a>
                    <div class="mf-color-picker-content">
                        <span class="mf-color-picker mf-active" style="background-color: #888; box-shadow: 0px 0px 0px 2px #888;"></span>
                        <span class="mf-color-picker" style="background-color: #d85f46; box-shadow: 0px 0px 0px 2px #d85f46;"></span>
                        <span class="mf-color-picker" style="background-color: #f1993c; box-shadow: 0px 0px 0px 2px #f1993c;"></span>
                        <span class="mf-color-picker" style="background-color: #5bbc8c; box-shadow: 0px 0px 0px 2px #5bbc8c;"></span>
                        <span class="mf-color-picker" style="background-color: #529ecc; box-shadow: 0px 0px 0px 2px #529ecc;"></span>
                        <span class="mf-color-picker" style="background-color: #a780c1; box-shadow: 0px 0px 0px 2px #a780c1;"></span>
                    </div>
                <div class="mf-color-picker-content-item">
                    <div class="mf-color-picker-item0 mf-color-picker-item" style="background-color: #ffffff" ></div>
                    <div class="mf-color-picker-item1 mf-color-picker-item" style="background-color: #cccccc" ></div>
                    <div class="mf-color-picker-item2 mf-color-picker-item" style="background-color: #444444" ></div>
                    <div class="mf-color-picker-item3 mf-color-picker-item" style="background-color: #f6f6f6" ></div>
                    <div class="mf-color-picker-item4 mf-color-picker-item" style="background-color: #888888" ></div>
                    <div class="mf-color-picker-item5 mf-color-picker-item" style="background-color: #222222" ></div>
                    <div class="mf-color-picker-item6 mf-color-picker-item" style="background-color: #eeeeee" ></div>
                    <div class="mf-color-picker-item7 mf-color-picker-item" style="background-color: #666666" ></div>
                    <div class="mf-color-picker-item8 mf-color-picker-item" style="background-color: #000000" ></div>
                </div>
            </div>
            </div>
        </div>
        <div class="mf-profile-modify-content">
            <div class="mf-profile-modcon-name"><h2>某某某</h2></div>
            <div class="mf-profile-modcon-tro">生活了 <span>22</span> 年的 <span>男生</span> ，在 <span>湖南</span></div>
            <div class="mf-profile-modcon-futrue">现在是 <span>文艺小清新</span> 丨 想成为 <span>成功男士</span></div>
        </div>
        <div class="mf-profile-modify-btn-container"><a href="">编辑资料</a></div>
    </div>

    <!--时间轴-->
    <div class="mf-content-timeline"></div>

    <div class="mf-content-bottom">
        <div class="mf-content-BottConn">
            <div class="mf-content-BottLeft">               <!--内容部分的低端的左边-->
                <ul class="mf-Content-BottLeft-nav">
                    <li><span class="record">记录</span></li>
                    <li><span class="plan">计划</span></li>
                    <li><span class="discuss">讨论</span></li>
                </ul>

                <ul class="mf-content-BottLeft-idea">
                    <li class="first"><a href="">
                        <img id="waggleImgs0" src="../../public/images/cl-icon-light.png" style="width:58px;height:50px;">
                        <p>想法</p>
                    </a></li>
                    <li class="second"><a href="">
                        <img id="waggleImgs1" src="../../public/images/cl-icon-log.png" style="width:58px;height:50px;">
                        <p>日志</p>
                    </a></li>
                </ul>

                <div class="mf-content-BottLeft-publish"></div>
            </div>

            <div class="mf-content-BottRight">         <!--内容部分的低端的右边-->
                <div class="mf-BottRight-DreamInfo">
                    <div class="mf-BottRight-DreamInfo-headline">
                        梦想信息
                        <a href="" class="deleteInfo">%</a>
                    </div>
                    <div class="mf-BottRight-DreamInfo-img"><a href="">
                        <div class="mf-BottRight-DreamInfo-changeImg"></div>
                    </a></div>
                    <div class="mf-BottRight-DreamInfo-Name">
                        <span class="mf-BottRight-DreamInfo-name">名称</span>
                        <span class="mf-BottRight-DreamInfo-Nword">理解「十年后」以及人生</span>
                        <span class="mf-BottRight-DreamInfo-Neditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Dispict">
                        <span class="mf-BottRight-DreamInfo-dispict">描述</span>
                        <span class="mf-BottRight-DreamInfo-Dword">
                            关注自我的状态，关注内心，把现有这个状态的你当作最终的你，而不把外在的干扰当作敌人，因为现在的你具有的一切就已经是所有过去的结果了。
                        </span>
                        <span class="mf-BottRight-DreamInfo-Deditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-State">
                        <span class="mf-BottRight-DreamInfo-state">描述</span>
                        <span class="mf-BottRight-DreamInfo-Sword">梦</span>
                        <span class="mf-BottRight-DreamInfo-Seditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Time">
                        <span class="mf-BottRight-DreamInfo-time">时间</span>
                        <span class="mf-BottRight-DreamInfo-Tword">2017 年 04 月 06 日</span>
                        <span class="mf-BottRight-DreamInfo-Teditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Privacy">
                        <span class="mf-BottRight-DreamInfo-privacy">隐私</span>
                        <span class="mf-BottRight-DreamInfo-Pbtn"></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Lable">
                        <span class="mf-BottRight-DreamInfo-lable">标签</span>
                        <span class="mf-BottRight-DreamInfo-Beditor"><a href="">编辑</a></span>
                    </div>
                </div>

                <div class="mf-BottRight-app-download">
                    <a href="" target="_blank">
                        <img src="../../public/images/appdownload.png" alt="" />
                    </a>
                </div>

                <div class="mf-BottRight-foot-right">
                    © 2015 - 2016 十年后 ·
                    <a href="" target="_blank">关于</a> ·
                    <a href="" target="_blank">成员</a> ·
                    <a href="" target="_blank">加入我们</a> ·
                    <a href="" target="_blank">用户协议</a> ·
                    <a href="" target="_blank">媒体报道</a> ·
                    <a href="" target="_blank">下载应用</a> ·
                    <a href="" target="_blank">回到旧版</a>
                </div>
            </div>
        </div>
    </div>


    <!--锚点-->
    <div class="goTop"><a href="#top" class="goTopBtn" title="返回顶部">Ú</a></div>


    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script>
        <!--下拉滚动条导航栏的变化以及锚点的变化-->
        $(window.onscroll=function () {
            var top=$(document).scrollTop() ? $(document).scrollTop() : $("body").scrollTop();
            /*console.log(top);*/
            if(top>0){
                $(".goTopBtn").fadeIn();
            }else if(top==0){
                $(".goTopBtn").fadeOut();
            }
            if(top<=350){
                $(".navbar").css("background-color","transparent");
                $(".navbar").removeClass("navbar-border");
                $(".nav-information li").removeClass("nav-info-lis");
                $(".nav-info-three").removeClass("nav-info-third");
            }else{
                $(".navbar").css("background-color","#fff");
                $(".navbar").addClass("navbar-border");
                $(".nav-information li").addClass("nav-info-lis");
                $(".nav-info-three").addClass("nav-info-third");
            }
        });

        //textarea自适应高度
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on'+event, handler);
            };
        }else{
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        function init () {
            var proverbs = document.getElementById('proverbs');
            function resize () {
                proverbs.style.height = 'auto';
                proverbs.style.height = proverbs.scrollHeight+'px';
            }
            /* 0-timeout to get the already changed text */
            function delayedResize () {
                window.setTimeout(resize, 0);
                proverbs.style.borderBottom='1px solid red';
            }
            observe(proverbs, 'change',  resize);
            observe(proverbs, 'cut',     delayedResize);
            observe(proverbs, 'paste',   delayedResize);
            observe(proverbs, 'drop',    delayedResize);
            observe(proverbs, 'keydown', delayedResize);
            proverbs.focus();
            proverbs.select();
            resize();
        }

        /*鼠标移入进行晃动*/
        var mfIdeaLis=$(".mf-content-BottLeft-idea li");
        for(var i=0;i<mfIdeaLis.length;i++){
            (function(i){
                mfIdeaLis.eq(i).mouseover(function(){
                    $("#waggleImgs"+i).addClass("waggleImg");
                });
                mfIdeaLis.eq(i).mouseout(function(){
                    $("#waggleImgs"+i).removeClass("waggleImg");
                });
            })(i);
        }

        $(function () {
            $("#mf-profile-content-row-a").click(function () {
                $("#mf-avatar-modal-tab-font").css({'border-color': '#00b4ff', 'color': '#00b4ff'});
                var a=$("#mf-avatar-modal").attr('class');
               if(a=='mf-avatar-modal mf-avatar-modal-change-big') {
                   $("#mf-avatar-modal").addClass("mf-avatar-modal-change-small");
                   $("#mf-avatar-modal").removeClass("mf-avatar-modal-change-big");

               }else {
                   $("#mf-avatar-modal").addClass("mf-avatar-modal-change-big");
                   $("#mf-avatar-modal").removeClass("mf-avatar-modal-change-small");
                 
                  $(".mf-color-picker").each(function (i) {
                       $(this).click(function (index) {
                           $(".mf-color-picker").each(function (index) {
                               if ($(this).attr('class') == 'mf-color-picker mf-active') {
                                   /*alert(index)*/
                                   $(this).removeClass('mf-active');
                               }
                           });
                           $(this).addClass('mf-active');
                          /* alert(i);*/
                           var arr0=["#ffffff","#cccccc","#444444","#f6f6f6","#888888","#222222","#eeeeee","#666666","#000000"];
                           var arr1=["#eebab0","#de7660","#9a4432","#e9a495","#d85f46","#7b3628","#e38d7b","#b9513c","#5d291e"];
                           var arr2=["#f9d3ab","#f3a858","#ac6d2b","#f7c590","#f1993c","#8a5722","#f5b674","#cf8333","#67421a"];
                           var arr3=["#b9e2ce","#72c69c","#418664","#a1d9bd","#5bbc8c","#346b50","#8acfad","#4ea178","#27513c"];
                           var arr4=["#b5d5e9","#6bacd3","#3b7192","#9cc8e2","#529ecc","#2f5a75","#83badb","#4687af","#234457"];
                           var arr5=["#d9c9e4","#b492ca","#775b8a","#cdb6dc","#a780c1","#5f496e","#c0a4d3","#8f6ea5","#483753"];
                           var arr=[arr0,arr1,arr2,arr3,arr4,arr5];
                           /*alert(arr[0]);*/
                           $.each(arr,function (index,value) {
                               if(index==i){
                                    /*alert(arr[index]);*/
                                  $.each(arr[index],function (ind,va) {
                                      var b='.mf-color-picker-item'+ind;
                                      $(b).css("backgroundColor",va);
                                  })
                               }
                           });
                       });

                   });

               }
               $("#mf-avatar-modal-tab-font").click(function (){
                   $("#mf-avatar-modal-tab-font").css({'border-color': '#00b4ff', 'color': '#00b4ff'});
                   $("#mf-avatar-modal-tab-background").css({'border-color': '#ccc', 'color': '#777'});
                   $("#mf-avatar-name-input").css('display','block');
                   $("#mf-avatar-upload-image-btn").css('display','none');
               });
                $("#mf-avatar-modal-tab-background").click(function (){
                    $("#mf-avatar-modal-tab-background").css({'border-color': '#00b4ff', 'color': '#00b4ff'});
                    $("#mf-avatar-modal-tab-font").css({'border-color': '#ccc', 'color': '#777'});
                    $("#mf-avatar-upload-image-btn").css('display','block');
                    $("#mf-avatar-name-input").css('display','none');
                });
            });
        });


    </script>
</body>
</html>