<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 与世界分享你的追梦历程</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>

    <link rel="stylesheet" href="../css/MyFuture.css" />
</head>
<body onload="init();">
    <nav class="navbar">
        <ul class="nav-information">
            <li class="nav-info-lis"><a href="">动态</a></li>
            <li class="nav-info-lis"><a href="">发现</a></li>
            <li class="nav-info-three nav-info-third"><a href="">我的未来</a></li>
            <li class="nav-info-lis"><a href="">来往<span class="dropDown-bow">c</span></a></li>
        </ul>
        <div class="nav-img-position"></div>
        <div class="nav-person">
            <a class="nav-person-search" href=""><span class="nav-search-icon">f</span></a>
            <div class="nav-person-img">
                <figure>
                    <a href=""><img src="../../public/images/blank.png" /></a>
                </figure>
                <div class="nav-logout"></div>
            </div>
        </div>
    </nav>

    <div class="mf-content-top">
        <textarea cols="45" rows="1" id="proverbs" class="mf-profile-motto-container">在这里输入个人箴言</textarea>
    </div>

    <div class="mf-profile-content">
        <div class="mf-profile-content-row"><a class="mf-profile-content-row-a" id="mf-profile-content-row-a" >编辑头像</a></div>
        <div id="mf-avatar_modal" class="mf-avatar-modal">
            <div class="mf-avatar-content">
            <div class="mf-avater-dropdown-content">
                <p class="mf-avatar-modal-tab " data-index="0">文字</p>
                <p class="mf-avatar-modal-tab" data-index="1">背景</p>
            </div>
            <div id="mf_avatar_modal_content" class="mf-avatar-modal-content" style="display: block;">
                <input id="mf_avatar_name_input" class="mf-avatar-modal-content-show mf-active" placeholder="空" maxlength="4" type="text">
                <a class="mf-avatar-upload-image-btn mf-avatar-modal-content-show" href="javascript:void(0);">
                    <i class="mf-icon-camera-add"></i>
                    使用图片
                    <input id="mf_avatar_bg_image" type="file">
                </a>
                    <div class="mf-color-picker-content">
                        <span class="mf-color-picker ty-active" style="background-color: #888; box-shadow: 0px 0px 0px 2px #888;" data-index="0"></span>
                        <span class="mf-color-picker" style="background-color: #d85f46; box-shadow: 0px 0px 0px 2px #d85f46;" data-index="1"></span>
                        <span class="mf-color-picker" style="background-color: #f1993c; box-shadow: 0px 0px 0px 2px #f1993c;" data-index="2"></span>
                        <span class="mf-color-picker" style="background-color: #5bbc8c; box-shadow: 0px 0px 0px 2px #5bbc8c;" data-index="3"></span>
                        <span class="mf-color-picker" style="background-color: #529ecc; box-shadow: 0px 0px 0px 2px #529ecc;" data-index="4"></span>
                        <span class="mf-color-picker" style="background-color: #a780c1; box-shadow: 0px 0px 0px 2px #a780c1;" data-index="5"></span>
                    </div>
                <div class="mf-color-picker-content">
                    <div class="mf-color-picker-item" style="background-color: rgb(255, 255, 255);" data-color="#ffffff"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(204, 204, 204);" data-color="#cccccc"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(68, 68, 68);" data-color="#444444"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(246, 246, 246);" data-color="#f6f6f6"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(136, 136, 136);" data-color="#888888"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(34, 34, 34);" data-color="#222222"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(238, 238, 238);" data-color="#eeeeee"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(102, 102, 102);" data-color="#666666"></div>
                    <div class="mf-color-picker-item" style="background-color: rgb(0, 0, 0);" data-color="#000000"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="mf-profile-modify-content">
            <div class="mf-profile-modcon-name"><h2>某某某</h2></div>
            <div class="mf-profile-modcon-tro">生活了 <span>22</span> 年的 <span>男生</span> ，在 <span>湖南</span></div>
            <div class="mf-profile-modcon-futrue">现在是 <span>文艺小清新</span> 丨 想成为 <span>成功男士</span></div>
        </div>
        <div class="mf-profile-modify-btn-container"><a href="">编辑资料</a></div>
    </div>

    <!--时间轴-->
    <div class="mf-content-timeline"></div>

    <div class="mf-content-bottom">
        <div class="mf-content-BottConn">
            <div class="mf-content-BottLeft">               <!--内容部分的低端的左边-->
                <ul class="mf-Content-BottLeft-nav">
                    <li><a href=""><span class="record">记录</span></a></li>
                    <li><a href=""><span class="plan">计划</span></a></li>
                    <li><a href=""><span class="discuss">讨论</span></a></li>
                </ul>

                <ul class="mf-content-BottLeft-idea">
                    <li class="first"><a href="">
                        <img id="waggleImgs0" src="../../public/images/cl-icon-light.png" style="width:58px;height:50px;">
                        <p>想法</p>
                    </a></li>
                    <li class="second"><a href="">
                        <img id="waggleImgs1" src="../../public/images/cl-icon-log.png" style="width:58px;height:50px;">
                        <p>日志</p>
                    </a></li>
                </ul>

                <div class="mf-content-BottLeft-publish"></div>
            </div>

            <div class="mf-content-BottRight">         <!--内容部分的低端的右边-->
                <div class="mf-BottRight-DreamInfo">
                    <div class="mf-BottRight-DreamInfo-headline">
                        梦想信息
                        <a href="" class="deleteInfo"><img src="../../public/images/delete.png"></a>
                    </div>
                    <div class="mf-BottRight-DreamInfo-img"><a href="">
                        <div class="mf-BottRight-DreamInfo-changeImg"></div>
                    </a></div>
                    <div class="mf-BottRight-DreamInfo-Name">
                        <span class="mf-BottRight-DreamInfo-name">名称</span>
                        <span class="mf-BottRight-DreamInfo-Nword">理解「十年后」以及人生</span>
                        <span class="mf-BottRight-DreamInfo-Neditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Dispict">
                        <span class="mf-BottRight-DreamInfo-dispict">描述</span>
                        <span class="mf-BottRight-DreamInfo-Dword">
                            关注自我的状态，关注内心，把现有这个状态的你当作最终的你，而不把外在的干扰当作敌人，因为现在的你具有的一切就已经是所有过去的结果了。
                        </span>
                        <span class="mf-BottRight-DreamInfo-Deditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-State">
                        <span class="mf-BottRight-DreamInfo-state">描述</span>
                        <span class="mf-BottRight-DreamInfo-Sword">梦</span>
                        <span class="mf-BottRight-DreamInfo-Seditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Time">
                        <span class="mf-BottRight-DreamInfo-time">时间</span>
                        <span class="mf-BottRight-DreamInfo-Tword">2017 年 04 月 06 日</span>
                        <span class="mf-BottRight-DreamInfo-Teditor"><a href="">编辑</a></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Privacy">
                        <span class="mf-BottRight-DreamInfo-privacy">隐私</span>
                        <span class="mf-BottRight-DreamInfo-Pbtn"></span>
                    </div>
                    <div class="mf-BottRight-DreamInfo-Lable">
                        <span class="mf-BottRight-DreamInfo-lable">标签</span>
                        <span class="mf-BottRight-DreamInfo-Beditor"><a href="">编辑</a></span>
                    </div>
                </div>

                <div class="mf-BottRight-app-download">
                    <a href="" target="_blank">
                        <img src="../../public/images/appdownload.png" alt="" />
                    </a>
                </div>

                <div class="mf-BottRight-foot-right">
                    © 2015 - 2016 十年后 ·
                    <a href="" target="_blank">关于</a> ·
                    <a href="" target="_blank">成员</a> ·
                    <a href="" target="_blank">加入我们</a> ·
                    <a href="" target="_blank">用户协议</a> ·
                    <a href="" target="_blank">媒体报道</a> ·
                    <a href="" target="_blank">下载应用</a> ·
                    <a href="" target="_blank">回到旧版</a>
                </div>
            </div>
        </div>
    </div>

    <!--锚点-->
    <div class="goTop"><a href="#top" class="goTopBtn" title="返回顶部">Ú</a></div>

    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script>
        <!--下拉滚动条导航栏的变化以及锚点的变化-->
        $(window.onscroll=function () {
            var top=$(document).scrollTop() ? $(document).scrollTop() : $("body").scrollTop();
            /*console.log(top);*/
            if(top>0){
                $(".goTopBtn").fadeIn();
            }else if(top==0){
                $(".goTopBtn").fadeOut();
            }
            if(top<=350){
                $(".navbar").css("background-color","transparent");
                $(".navbar").removeClass("navbar-border");
                $(".nav-information li").removeClass("nav-info-lis");
                $(".nav-info-three").removeClass("nav-info-third");
            }else{
                $(".navbar").css("background-color","#fff");
                $(".navbar").addClass("navbar-border");
                $(".nav-information li").addClass("nav-info-lis");
                $(".nav-info-three").addClass("nav-info-third");
            }
        });

        //textarea自适应高度
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on'+event, handler);
            };
        }else{
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        function init () {
            var proverbs = document.getElementById('proverbs');
            function resize () {
                proverbs.style.height = 'auto';
                proverbs.style.height = proverbs.scrollHeight+'px';
            }
            /* 0-timeout to get the already changed text */
            function delayedResize () {
                window.setTimeout(resize, 0);
                proverbs.style.borderBottom='1px solid red';
            }
            observe(proverbs, 'change',  resize);
            observe(proverbs, 'cut',     delayedResize);
            observe(proverbs, 'paste',   delayedResize);
            observe(proverbs, 'drop',    delayedResize);
            observe(proverbs, 'keydown', delayedResize);
            proverbs.focus();
            proverbs.select();
            resize();
        }

        /*鼠标移入进行晃动*/
        var mfIdeaLis=$(".mf-content-BottLeft-idea li");
        for(var i=0;i<mfIdeaLis.length;i++){
            (function(i){
                mfIdeaLis.eq(i).mouseover(function(){
                    $("#waggleImgs"+i).addClass("waggleImg");
                });
                mfIdeaLis.eq(i).mouseout(function(){
                    $("#waggleImgs"+i).removeClass("waggleImg");
                });
            })(i);
        }
    </script>
</body>
</html>