<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 关于我们</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../public/css/AboutUs.css"/>
    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/slicebox.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/custom.css" />
    <script type="text/javascript" src="../../public/js/modernizr.custom.46884.js"></script>
</head>
<body>
    <div class="au-top" >
        <div class="au-top-vedio">
            <video src="../../public/images/about_video.mp4" autoplay loop></video>
        </div>
        <div class="au-top-head">
            <div class="au-head-left">
                <a href=""><img src="../../public/images/logo_linght.png"></a>
            </div>
            <div class="au-head-right">
                <a href="./Login.html" class="au-head-register">注册</a>
                <a href="./Login.html" class="au-head-login">登录</a>
            </div>
        </div>
        <h1 class="au-top-become">十年后，你会成为怎样的人？</h1>
        <div class="au-top-content">
            <p>十年后是一个基于梦想的经验交流社区。<br/>你可以在时间轴上创建未来自己想要实现的梦想，基于这些梦想你可以：</p>
            <ul>
                <li>分享你十日后到十年后的追梦经历</li>
                <li>分享你对人生和梦想的真实思考</li>
                <li>认识并和各种有趣的人交流</li>
                <li>找到有助于你实现梦想的最好资源</li>
            </ul>
        </div>

    </div>

    <div class="au-sameCamp">
        <h1>跟<span class="au-sameCamp-green">志同道合</span>的人一起工作</h1>
        <div class="au-sameCamp-desc">
            <p>这里是十年后的团队成员，是一群想为这个世界中创造出一些不同的人。我们来自不同的城市和生活，有的人原来在美国念计算机，有的人原来学药学，有的人原来环游中国旅行，做过地产销售顾问，也有的人毕业之后一直在做管理咨询。</p>
            <p>在十年后，我们只关心一件事: 自己所做的事情是否有价值，是否值得未来之人书写。每个人的生命都由无数选择构成，而一起来做这件和梦想有关的事情，是我们最重要的选择之一。We are all dreamers！</p>
        </div>
        <div id="au-sameCamp_container" class="au-sameCamp-container">
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member1">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>啜雪东</h3>
                    <p>想成为电影导演</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member2">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>常晓蔚
                        <small>COO</small>
                    </h3>
                    <p>想成为宠物店老板</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member3">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>
                        柳馨宇
                        <small>运营实习生</small>
                    </h3>
                    <p>想成为书店老板娘</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member4">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>王栩灵<small>大四学生</small></h3>
                    <p>想成为动画编剧</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member5">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>戴一洲<small>新媒体运营经理</small></h3>
                    <p>想不断遇见新奇的人</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member6">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>笪兴<p>CEO</p></h3>
                    <p>想成为改变世界的人</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member7">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>王雅倩<small>媒介推广经理</small></h3>
                    <p>想成为蚌一样的女子</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member8">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>陈夏露<small>新媒体运营经理</small></h3>
                    <p>想成为良心编剧</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member9">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>张立涛<small>Android砖家</small></h3>
                    <p>想成为Android专家</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member10">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>刘广志<small>运营经理</small></h3>
                    <p>想成为酒馆老板</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member11">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>高军<small>资深设计师</small></h3>
                    <p>想成为餐厅老板</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member12">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>王其中<small>后端工程师</small></h3>
                    <p>想成为大拿</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member13">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zlt.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>彭傲<small>Android砖家</small></h3>
                    <p>想成为airfly的B-boy</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-member14">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zjx.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>徐晓语<small>乱点技能树的吃土少女</small></h3>
                    <p>想成为水草造景大师</p>
                </div>
            </div>
            <div class="au-sameCamp-temp-member au-sameCamp-temp-membe15">
                <a class="au-team-member-circle" href="javascript:void(0)" style="background-image:url(../../public/images/zjx.jpg)"></a>
                <div class="au-team-member-info">
                    <h3>丁建强<small>Front-End Developer</small></h3>
                    <p>想成为环球旅行者</p>
                </div>
            </div>
        </div>
    </div>

        <div class="au-jionUs">
        <h1>想一起改变世界吗，来<span class="au-jionUs-green">加入我们</span>吧</h1>
        <p id="au-jionUs-p">简历投递邮箱</p>
        <p><a href="">[ join@10years.me ]</a></p>
        <div class="au-jionUs-container">
            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_mobile.png" alt="" style="vertical-align:middle;"/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">iOS工程师</div>
                </div>

                <!--弹出框-->

                    <div class="au-jionUs-job-detail" >
                        <a class="au-jionUs-job-close" href="javascript:;">X</a>
                        <div class="au-jionUs-detail-container">
                            <h3>iOS工程师</h3>
                            <p id="au-jionUs-salary">10 - 20K</p>
                            <div class="au-jionUs-job-responsibilities">
                                <p id="au-jionUs-post1">职位描述：</p>
                                <ol class="au-jionUs-post1-ol">
                                    <li>参与十年后项目的iOS客户端的开发，包括 iPhone、iPad。</li>
                                </ol>
                                <p id="au-jionUs-post2">职位要求:</p>
                                <ol class="au-jionUs-post2-ol">
                                    <li>具备扎实的 Objective-C 基础；</li>
                                    <li>一年以上的 iOS 开发经验，有商业项目开发经验或 App Store上架应用者优先；</li>
                                    <li>善于研究和掌握相关领域内的前沿技术、技术难点及技术趋势；</li>
                                    <li>逻辑思维清晰，有较强的解决问题的能力；</li>
                                    <li>遵守团队的代码格式、代码安全、代码结构规定，编写易读、易维护、高质量、高效率的代码；</li>
                                    <li>有非常强的创新意识，希望通过自己的努力和我们一起创造出互联网世界下一个伟大的产品。</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>



            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_android.png" alt=""/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">Android工程师</div>
                </div>
            </div>

            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_code.png" alt=""/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">前端工程师</div>
                </div>
            </div>

            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_pc.png" alt=""/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">CTO/Web后端工程师</div>
                </div>
            </div>

            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_ue.png" alt=""/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">交互设计师</div>
                </div>
            </div>

            <div class="au-jionUs-job">
                <div class="au-jionUs-job-summary">
                    <div class="au-jionUs-job-icon">
                        <img class="au_join_circle" src="../../public/images/ic_join_circle.png" alt=""/>
                        <div class="au-jionUs-icon-circle">
                            <img src="../../public/images/ic_join_ps.png" alt=""/>
                        </div>
                    </div>
                    <div class="au-jionUs-job-name">平面设计师</div>
                </div>
            </div>
        </div>
    </div>



        <!--<h1>关于我们的<span class="au-media-green">媒体报道</span></h1>
        <div class="au-media-container">
            <div class="au-media-report-slide" data-index="0">
                <a class="au-media-report-img" href=""><img src="../../public/images/ic_logo_pw.png" alt=""/></a>
                <h4><a href="http://www.pingwest.com/demo/dream-can-be-social/" target="_blank">我们能否依靠“梦想”构筑社交平台？</a></h4>
                <p class="au-media-report-word">在社交信息越来越发达、越来越爆炸之后，始终有一种声音，认为现有的社交形式和内容对个人的发展没有过多的好处，速食、碎片化信息、
                    未经证实的信息、负面信息等等因素让用户越来越难从社交网路上获得有益的信息。而在这样的背景之下，梦想这件事时常被反复提出，在个人
                    成长、尤其是中国的文化背景下不能抛弃对未来的规划和对梦想的追求。基于这点，一些服务和应用开始从“梦想”“未来”出发，建立新的社交形
                    式，而这样的社交平台能否被大众所接受呢？</p>
            </div>
        </div>-->
        <div class="container">

            <div class="wrapper">

                <ul id="sb-slider" class="sb-slider">
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/1.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>奶茶妹妹免费推广的未来社交应用“十年后” 今宣布获得数百万天使融资</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/2.jpg" alt="image2"/></a>
                        <div class="sb-description">
                            <h3>十年后</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/3.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>做梦不易：未来社交网络“十年后”</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/4.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>梦想社交“十年后”，希望将社交从线上向线下拓展</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/5.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>做梦不易：未来社交网络“十年后”</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/6.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>十年后</h3>
                        </div>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="../../public/images/7.jpg" alt="image1"/></a>
                        <div class="sb-description">
                            <h3>梦想社交“十年后”，希望将社交从线上向线下拓展</h3>
                        </div>
                    </li>
                </ul>

                <div id="shadow" class="shadow"></div>

                <div id="nav-arrows" class="nav-arrows">
                    <a href="#">Next</a>
                    <a href="#">Previous</a>
                </div>


            </div>
        </div>


    <div class="au-think">
        <h1>和我们交流你关于十年后的<span class="au-think-green">任何想法</span></h1>
        <div class="au-think-container">
            <div id="au-think-title" class="au-think-title clearfix">
                <a href="javasccript:;" class="au-think-col-4 au-think-share-weibo" onclick="auThinkClick(0)">
                    <img src="../../public/images/ic_contact_weibo.png">
                </a>
                <a href="javasccript:;" class="au-think-col-4 au-think-share-wechat" onclick="auThinkClick(1)">
                    <img src="../../public/images/ic_contact_weixin.png">
                </a>
                <a href="javasccript:;" class="au-think-col-4 au-think-share-renren" onclick="auThinkClick(2)">
                    <img src="../../public/images/ic_contact_renren.png">
                </a>
                <a href="javasccript:;" class="au-think-col-4 au-think-share-mail" onclick="auThinkClick(3)">
                    <img src="../../public/images/ic_contact_mail.png">
                </a>
            </div>
            <div class="au-think-content">
                <span class="au-think-out"></span><span class="au-think-iner"></span>
                <div class="au-think-content-details">
                    <p>如果你对「十年后」有任何的建议，或乐意和我们交流关于未来、人生和社交网络的理念的,请通过以上方式联系我们。</p>
                </div>

                <div class="au-think-content-officialWebsite au-think-conn0" style="display: none">
                    <div class="officialWebsite-left">
                        <img src="../../public/images/weibo_avatar.jpeg">
                    </div>
                    <div class="officialWebsite-right">
                        <h2><a href="http://www.weibo.com/10yearsme" target="_blank">@十年后官网</a></h2>
                        <div class="officialWebsite-col-3">
                            <p>792</p>
                            <p class="officialWebsite-p">关注</p>
                        </div>
                        <div class="officialWebsite-col-3 " >
                            <p>34842</p>
                            <p class="officialWebsite-p">粉丝</p>
                        </div>
                        <div class="officialWebsite-col-3">
                            <p>3318</p>
                            <p class="officialWebsite-p">微博</p>
                        </div>
                    </div>
                </div>

                <div class="au-think-content-WebXin au-think-conn1" style="display: none">
                    <div class="au-think-WebXin-left">
                        <img src="../../public/images/wechat_avatar.gif" />
                    </div>
                    <div class="au-think-WebXin-right">
                        <h3>关注官方微信，了解更多内容</h3>
                        <p>微信号: tenyearsme</p>
                    </div>
                </div>

                <div class="au-think-content-public au-think-conn2" style="display: none">
                    <div class="au-think-public-left">
                        <img src="../../public/images/renren_avatar.jpg" />
                    </div>
                    <div class="au-think-public-right">
                        <h3>
                            <a href="http://page.renren.com/601834080?id=601834080" target="_blank">十年后公共主页</a>
                        </h3>
                        <p>关注者：8737</p>
                    </div>
                </div>

                <div class="au-think-content-email au-think-conn3" style="display: none">
                    <a class="au-think-email" href="mailto:talk@10years.me">
                        <img src="../../public/images/icon_mail.png" alt="">&nbsp;&nbsp;|&nbsp;&nbsp;talk@10years.me
                        <span class="au-think-email-line"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="au-MT">
        <h1><span class="au-MT-green">下载移动端</span>记录自己的梦想</h1>
        <div class="au-MT-content">
            <div class="au-MT-left">
                <img src="../../public/images/ic_m_iphone.png" class="au_MT_iphone"/>
                <img src="../../public/images/ic_m_android.png" class="au_MT_android"/>
            </div>
            <div class="au-MT-right">
                <div class="au_MT-iphone_btn"><a href="">
                    <span class="au_MT_type_iPhone"></span> iPhone版
                </a></div>
                <div class="au_MT-android_btn">
                    <a href="" class="au_MT-android_icon"><span class="au_MT_type_iPhone"></span> Android版</a>
                    <ul class="au_MT_android_load">
                        <li><a href="http://android.myapp.com/myapp/detail.htm?apkName=me.tenyears.futureline" target="_blank">应用宝</a></li>
                        <li><a href="http://10years.me/app/tenyearslater.apk" target="_blank">本地下载</a></li>
                    </ul>
                </div>
                <div class="au_MT-download-qrcode">
                    <img src="../../public/images/after-tenyears.jpg" alt="" width="160"/>
                </div>
            </div>
        </div>
    </div>

    <div class="au-foot">
        <div class="au-foot-content">
            <div class="foot-contant-col future">
                <h2><img src="../../public/images/logo_login.png" style="width:134px;"></h2>
                <p>与世界分享你的追梦历程</p>
                <div class="foot-contantX2">「十年后」是一个基于梦想的经验交流社区。在这里，你可以自由的分享关于未来梦想的真实想法，并探索更多有趣的梦想，结交志同道合的人。</div>
            </div>
            <div class="foot-contant-col about">
                <div class="foot-aboutMe">关于我们</div>
                <ul>
                    <li><a href="">关于十年后</a></li>
                    <li><a href="">团队成员</a></li>
                    <li><a href="">加入我们</a></li>
                    <li><a href="">用户协议</a></li>
                    <li><a href="">回到旧版本</a></li>
                </ul>
            </div>
            <div class="foot-contant-col media">
                <div class="foot-mediaReport">媒体报道</div>
                <ul>
                    <li><a href="">PingWest</a></li>
                    <li><a href="">动点科技</a></li>
                    <li><a href="">IT桔子</a></li>
                    <li><a href="">创业邦</a></li>
                    <li><a href="">i黑马</a></li>
                </ul>
            </div>
            <div class="foot-contant-col download">
                <div class="foot-downloadApp">下载应用</div>
                <div class="foot-download-col app">
                    <div class="download-btn">
                        <a href="" target="_blank">
                            <b class="ty-icon-ios"></b>
                            <span>iOS 版</span>
                        </a>
                    </div>
                    <div class="download-btn">
                        <a href="" target="_blank">
                            <b class="ty-icon-android"></b>
                            <span>Android 版</span>
                        </a>
                    </div>
                    <div class="download-QRcode">
                        <img src="../../public/images/qrcode.png" alt="二维码" width="83" height="83"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="au-foot-bottom">
            &copy; 2013 - 2015 <a href="">10years.me</a>. 上海秦誓网络科技有限公司 All Rights Reserved. <a href="" target="_blank">沪ICP备13021804号</a><br><br>
            <a href="http://www.upyun.com"><img src="../../public/images/90X45.png" /></a>&nbsp;
            <a href="http://www.oneapm.com"><img src="../../public/images/badge2xblue.png" height="45" /></a>
        </div>
    </div>
    <script type="text/javascript" src="../../public/js/jquery.slicebox.js"></script>
    <!--<script type="text/javascript">
        $(function() {

            var Page = (function() {

                var $navArrows = $( '#nav-arrows' ).hide(),
                        $navDots = $( '#nav-dots' ).hide(),
                        $nav = $navDots.children( 'span' ),
                        $shadow = $( '#shadow' ).hide(),
                        slicebox = $( '#sb-slider' ).slicebox( {
                            onReady : function() {

                                $navArrows.show();
                                $navDots.show();
                                $shadow.show();

                            },
                            onBeforeChange : function( pos ) {

                                $nav.removeClass( 'nav-dot-current' );
                                $nav.eq( pos ).addClass( 'nav-dot-current' );

                            }
                        } ),

                        init = function() {

                            initEvents();

                        },
                        initEvents = function() {

                            // add navigation events
                            $navArrows.children( ':first' ).on( 'click', function() {

                                slicebox.next();
                                return false;

                            } );

                            $navArrows.children( ':last' ).on( 'click', function() {

                                slicebox.previous();
                                return false;

                            } );

                            $nav.each( function( i ) {

                                $( this ).on( 'click', function( event ) {

                                    var $dot = $( this );

                                    if( !slicebox.isActive() ) {

                                        $nav.removeClass( 'nav-dot-current' );
                                        $dot.addClass( 'nav-dot-current' );

                                    }

                                    slicebox.jump( i + 1 );
                                    return false;

                                } );

                            } );

                        };

                return { init : init };

            })();

            Page.init();

        });
    </script>-->
    <script type="text/javascript">
        $(function() {

            var Page = (function() {

                var $navArrows = $( '#nav-arrows' ).hide(),
                        $shadow = $( '#shadow' ).hide(),
                        slicebox = $( '#sb-slider' ).slicebox( {
                            onReady : function() {

                                $navArrows.show();
                                $shadow.show();

                            },
                            orientation : 'r',
                            cuboidsRandom : true,
                            disperseFactor : 30
                        } ),

                        init = function() {

                            initEvents();

                        },
                        initEvents = function() {

                            // add navigation events
                            $navArrows.children( ':first' ).on( 'click', function() {

                                slicebox.next();
                                return false;

                            } );

                            $navArrows.children( ':last' ).on( 'click', function() {

                                slicebox.previous();
                                return false;

                            } );

                        };

                return { init : init };

            })();

            Page.init();

        });
    </script>
    <!--<script type="text/javascript">
        $(function() {

            var Page = (function() {

                var $navArrows = $( '#nav-arrows' ).hide(),
                        $shadow = $( '#shadow' ).hide(),
                        slicebox = $( '#sb-slider' ).slicebox( {
                            onReady : function() {

                                $navArrows.show();
                                $shadow.show();

                            },
                            orientation : 'r',
                            cuboidsRandom : true
                        } ),

                        init = function() {

                            initEvents();

                        },
                        initEvents = function() {

                            // add navigation events
                            $navArrows.children( ':first' ).on( 'click', function() {

                                slicebox.next();
                                return false;

                            } );

                            $navArrows.children( ':last' ).on( 'click', function() {

                                slicebox.previous();
                                return false;

                            } );

                        };

                return { init : init };

            })();

            Page.init();

        });
    </script>-->
    <script>
        /*加入我们的弹出框*/



        /*交流想法部分*/
        $(auThinkHover());
        function auThinkHover() {
            $(".au-think-share-weibo img").hover(function(){
                $(".au-think-share-weibo img").attr("src","../../public/images/ic_contact_weibo_hover.png");
            },function(){
                $(".au-think-share-weibo img").attr("src","../../public/images/ic_contact_weibo.png");
            });
            $(".au-think-share-wechat img").hover(function(){
                $(".au-think-share-wechat img").attr("src","../../public/images/ic_contact_weixin_ahover.png");
            },function(){
                $(".au-think-share-wechat img").attr("src","../../public/images/ic_contact_weixin.png");
            });
            $(".au-think-share-renren img").hover(function(){
                $(".au-think-share-renren img").attr("src","../../public/images/ic_contact_renren_hover.png");
            },function(){
                $(".au-think-share-renren img").attr("src","../../public/images/ic_contact_renren.png");
            });
            $(".au-think-share-mail img").hover(function(){
                $(".au-think-share-mail img").attr("src","../../public/images/ic_contact_mail_ahover.png");
            },function(){
                $(".au-think-share-mail img").attr("src","../../public/images/ic_contact_mail.png");
            });
        }

        $(".au-think-col-4").click(function(){

        });
        function auThinkClick(i){
            for(var j=0;j<4;j++){
                if(j==i){
                    $(".au-think-conn"+i).show();
                    $(".au-think-content-details").hide();
                }else{
                    $(".au-think-conn"+j).hide();
                }
            }
        }
        $(".au-think-share-weibo img").click(function(){
            $(".au-think-out").animate({"left":"30px"},1000);
            $(".au-think-iner").animate({"left":"30px"},1000);
            $(this).unbind("mouseenter").unbind("mouseleave");
            $(this).attr("src","../../public/images/ic_contact_weibo_hover.png");
        });
        $(".au-think-share-wechat img").click(function(){
            auThinkHover();
            $(".au-think-share-weibo img").attr("src","../../public/images/ic_contact_weibo.png");
            $(".au-think-share-renren img").attr("src","../../public/images/ic_contact_renren.png");
            $(".au-think-share-mail img").attr("src","../../public/images/ic_contact_mail.png");
            $(this).attr("src","../../public/images/ic_contact_weixin_ahover.png");
            $(".au-think-out").animate({"left":"175px"},1000);
            $(".au-think-iner").animate({"left":"175px"},1000);
            $(this).unbind("mouseenter").unbind("mouseleave");

        });
        $(".au-think-share-renren img").click(function(){
            auThinkHover();
            $(".au-think-share-weibo img").attr("src","../../public/images/ic_contact_weibo.png");
            $(".au-think-share-wechat img").attr("src","../../public/images/ic_contact_weixin.png");
            $(".au-think-share-mail img").attr("src","../../public/images/ic_contact_mail.png");
            $(this).attr("src","../../public/images/ic_contact_renren_hover.png");
            $(".au-think-out").animate({"left":"330px"},1000);
            $(".au-think-iner").animate({"left":"330px"},1000);
            $(this).unbind("mouseenter").unbind("mouseleave");
        });
        $(".au-think-share-mail img").click(function(){
            auThinkHover();
            $(".au-think-share-weibo img").attr("src","../../public/images/ic_contact_weibo.png");
            $(".au-think-share-wechat img").attr("src","../../public/images/ic_contact_weixin.png");
            $(".au-think-share-renren img").attr("src","../../public/images/ic_contact_renren.png");
            $(this).attr("src","../../public/images/ic_contact_mail_ahover.png");
            $(".au-think-out").animate({"left":"480px"},1000);
            $(".au-think-iner").animate({"left":"480px"},1000);
            $(this).unbind("mouseenter").unbind("mouseleave");
        });


        /*下载移动端部分*/
        $(".au_MT-android_btn").hover(function(){
            $(this).css("backgroundColor","#fff");
            $(".au_MT_android_load").show(3000);

        },function(){
            $(".au_MT_android_load").hide();
        });


        //弹出框

        $(".au-jionUs-job").click(function () {
            var a=$(".au-jionUs-job-detail").attr("class");
            /*console.log(a);*/
            if(a=='au-jionUs-job-detail'){
                $(".au-jionUs-job-detail").addClass("au-jionUs-job-detail-big");
            }else{
                $(".au-jionUs-job-detail").removeClass("au-jionUs-job-detail-small");
               /* $(".au-jionUs-job-detail").addClass("au-jionUs-job-detail-big")*/
            }

        });
        $(".au-jionUs-job-close").click(function () {
            var b=$(".au-jionUs-job-detail").attr("class");
           /* b='au-jionUs-job-detail au-jionUs-job-detail-small';*/
            $(".au-jionUs-job-detail").addClass("au-jionUs-job-detail-small");
            $(".au-jionUs-job-detail").removeClass("au-jionUs-job-detail-big");
        });
        $(".au-sameCamp-temp-member").each(function () {
            var startscale= $(this).css('transform');
            $(this).hover(function () {
                $(this).css({'transform':'scale(1)'});
                $(this).children('div').css({'width':'240px','z-index':'9999'});
              /*  $(this).children('a').css('z-index','9999');*/
            },function () {
                $(this).css('transform',startscale);
                $(this).children('div').css({'width':'0px','z-index':'1'});
                $/*(this).children('a').css('z-index','999');*/
            })
        })



    </script>
</body>
</html>