<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年后 - 与世界分享你的追梦历程</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="../../public/css/reset_y.css">
    <link rel="stylesheet" href="../../public/css/index.css" />
    <link rel="stylesheet" href="../../public/css/timeline.css" />

    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="../../public/js/jquery-1.8.3.min.js"></script>
    <script>
        (function() {
            if (!
                            /*@cc_on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
    <script type="text/javascript" src="../../public/js/impress.js"></script>
</head>
<body >
<div class="click-box1 click" onclick="light(1)"></div>
<div class="click-box2 click" onclick="light(2)"></div>
<div class="click-box3 click" onclick="light(3)"></div>
    <!--首页的第一个屏幕-->
    <div class="body-first-screen show-box1" >
        <div class="bf-background">
            <!--登陆跳转-->
            <div class="bf-goto-register">
                <a href="">注册</a>
            </div>
            <!--时间轴-->
            <div class="bg impress-not-supported"><img src="../../public/images/bg01.jpg" width="100%" /></div>

            <header class="top" id="top">
                <h1><a href="http://www.lanrenzhijia.com/"><img src="../../public/images/160_os_logo.png" /></a><em>2016大记事</em></h1>

            </header>

            <section id="timeline" class="timeline">
                <div id="line" class="line_white"></div>
                <div id="impress">
                    <div id="timeList">
                        <div class="step year" data-x="-600" data-y="0" data-scale ="0.5" id="0">
                            <div class="year2012">2016</div>
                            <div class="list_show">2016年<br/></div>
                        </div>
                        <div class="timeList_item step" data-x="0" data-y="0" id="1">
                            <div class="circle">02/29</div>
                            <h2 class="timeList_item_title">开始注册登录十年后</h2>
                            <div class="list_show show1" >
                                <img src="../../public/images/event1.jpg" width="500">
                                <h2><a href="#">开始注册登录十年后</a></h2>
                                <p>十年后<br/>——感谢努力不放弃的自己</p>
                            </div>
                        </div>
                        <div class="timeList_item step"  data-x="200" data-y="0" id="2">
                            <div class="circle">03/10</div>
                            <h2 class="timeList_item_title">最牢固的感情，大都势均力敌</h2>
                            <div class="list_show">
                                <img src="../../public/images/event2.jpg">
                                <h2><a href="#">最牢固的感情，大都势均力敌</a></h2>
                                <p class="m160">你们不是一个层面上的对手，没有势均力敌来维持双方关系的平衡，感情能够起到的作用往往微乎其微，到最后，伤害只怕会是更深。
                                    <br/>——by 老妖
                                </p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="400" data-y="0" id="3">
                            <div class="circle">04/09</div>
                            <h2 class="timeList_item_title">那些年月里最烈的酒</h2>
                            <div class="list_show">
                                <img src="../../public/images/event3.jpg" width="500">
                                <h2><a href="#">那些年月里最烈的酒</a></h2>
                                <p>迟早有一天我会把你戒掉，就算看到你被别人拥有我不会羡慕想要。你我心里都住着一个不可能的人，请等一等，我怕赶不上你写的人生。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="600" data-y="0" id="4">
                            <div class="circle">04/15</div>
                            <h2 class="timeList_item_title">我曾遇见你</h2>
                            <div class="list_show show3">
                                <img src="../../public/images/event4.jpg" width="500">
                                <h2><a href="#">我曾遇见你</a></h2>
                                <p>我原以为的以为，那些苍老的画面，都终将会老去 <img src="../../public/images/event5.jpg" style="margin-top:80px;"/></p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="800" data-y="0" id="5">
                            <div class="circle">05/02</div>
                            <h2 class="timeList_item_title">某一天来到我的城市</h2>
                            <div class="list_show">
                                <img src="../../public/images/event5.jpg" width="500">
                                <h2><a href="#">某一天来到我的城市</a></h2>
                                <p>只是如果有一天，你来到我的城市，请你一定，一定不要告诉我。
                                    <br/>——BY邻居的耳朵
                                </p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="1000" data-y="0" id="6">
                            <div class="circle">05/04</div>
                            <h2 class="timeList_item_title">你要一人走完这世界</h2>
                            <div class="list_show">
                                <img src="../../public/images/event6.jpg" width="500">
                                <h2><a href="#">你要一人走完这世界</a></h2>
                                <br />
                                <p>你一直有一个关于流浪的梦。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="1200" data-y="0" id="7">
                            <div class="circle">05/26</div>
                            <h2 class="timeList_item_title">多少红颜爱傻逼，多少傻逼不珍惜</h2>
                            <div class="list_show show4">
                                <img src="../../public/images/event7.jpg">
                                <h2><a href="#">多少红颜爱傻逼，多少傻逼不珍惜</a></h2>
                                <p style="margin-top:80px;"><img src="../../public/images/event8.jpg" style="margin-top:60px;"/>气温就像过山车，尤其是我这种整天奔波在路上出差的人，体会得更加深切。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="1400" data-y="0" id="8">
                            <div class="circle">06/17</div>
                            <h2 class="timeList_item_title">致我的大学室友</h2>
                            <div class="list_show">
                                <img src="../../public/images/event8.jpg" width="500">
                                <h2><a href="#">致我的大学室友</a></h2>
                                <p>我独自一人坐了两天火车，踏进大学寝室的时候心都凉了半截儿。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="1600" data-y="0" id="9">
                            <div class="circle">07/01</div>
                            <h2 class="timeList_item_title">多想你也喜欢我。</h2>
                            <div class="list_show show3">
                                <img src="../../public/images/event9.jpg" width="500">
                                <h2><a href="#">多想你也喜欢我。</a></h2>
                                <p><img src="../../public/images/event10.jpg" style="margin-top:80px"/>喜欢一个人是我的秘密，只有我和我的输入法知道。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="1800" data-y="0"  id="10">
                            <div class="circle">07/10</div>
                            <h2 class="timeList_item_title">下午三点，是突如其来的夏天</h2>
                            <div class="list_show">
                                <img src="../../public/images/event10.jpg" width="500">
                                <h2><a href="#">下午三点，是突如其来的夏天</a></h2>
                                <p class="m160">他说他有一根又长又粗的棍子
                                    能在海里撑起一座岛
                                    能活着对世界说再见
                                    能不再归来</p>
                            </div>
                        </div>
                        <div class="timeList_item step"  data-x="2000" data-y="0" id="11">
                            <div class="circle">07/21</div>
                            <h2 class="timeList_item_title">这个世上，没有谁一定要对谁好。</h2>
                            <div class="list_show show4">
                                <img src="../../public/images/event11.jpg" width="500">
                                <h2><a href="#">这个世上，没有谁一定要对谁好。</a></h2>
                                <p style="margin-top:60px"><img src="../../public/images/event12.jpg"/></p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="2200" data-y="0" id="12">
                            <div class="circle">08/18</div>
                            <h2 class="timeList_item_title">姗姗</h2>
                            <div class="list_show show5">
                                <img src="../../public/images/event12.jpg" width="500">
                                <h2><a href="#">姗姗</a></h2>
                                <p style="margin-top:40px;"><img src="../../public/images/event13.jpg" />我在等她 在雨中。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="2400" data-y="0" id="13">
                            <div class="circle">08/23</div>
                            <h2 class="timeList_item_title">人生是一场错过，愿你别蹉跎</h2>
                            <div class="list_show">
                                <img src="../../public/images/event13.jpg" width="500">
                                <h2><a href="#">人生是一场错过，愿你别蹉跎</a></h2>
                                <p style="margin-top:60px">青梅枯萎竹马老去，从此我爱的人都像你。当你说你要忘记一个人的时候，你就注定这一生都会记得那个人。
                                    如果等待可以换来奇迹，那么我愿意一直等下去，是一年，抑或是一生。明白的人懂得放弃，真情的人懂得牺牲，幸福的人懂得超脱。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="2600" data-y="0" id="14">
                            <div class="circle">08/31</div>
                            <h2 class="timeList_item_title">时间会让你成长</h2>
                            <div class="list_show">
                                <img src="../../public/images/event14.png" width="500">
                                <h2><a href="#">时间会让你成长</a></h2>
                                <p class="m160" style="margin-top:-80px">不知不觉，所谓的光棍节已经离我们远去</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="2800" data-y="0" id="15">
                            <div class="circle">09/22</div>
                            <h2 class="timeList_item_title">待到凤凰花开季，惟愿前程皆似锦</h2>
                            <div class="list_show">
                                <img src="../../public/images/event1.jpg" >
                                <h2><a href="#">待到凤凰花开季，惟愿前程皆似锦</a></h2>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="3000" data-y="0" id="16">
                            <div class="circle">10/20</div>
                            <h2 class="timeList_item_title">友谊也容不下第三者。</h2>
                            <div class="list_show">
                                <img src="../../public/images/event3.jpg" width="500">
                                <h2 style="width:600px"><a href="#">友谊也容不下第三者。</a></h2>
                                <p style="margin-top:10px"><img src="../../public/images/event4.jpg" /></p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="3200" data-y="0" id="17">
                            <div class="circle">10/30</div>
                            <h2 class="timeList_item_title">前面会更好~</h2>
                            <div class="list_show">
                                <img src="../../public/images/event13.jpg" width="500">
                                <h2><a href="#">前面会更好~</a></h2>
                                <p>其实我比你们更恨自己成不了大器，也许自己可以变的更好，有的人每天只会气自己不好，但不只是气就可以变的更好的！！！</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="3400" data-y="0" id="18">
                            <div class="circle">11/19</div>
                            <h2 class="timeList_item_title">我只是想像风一样随遇而安，仅此而已</h2>
                            <div class="list_show">
                                <img src="../../public/images/event12.jpg" width="500">
                                <h2><a href="#">我只是想像风一样随遇而安，仅此而已</a></h2>
                                <p class="m160">看完电影《超脱》，里头透漏出的忧伤、孤独、忧郁、迷茫…种种情绪，就如那种针扎在心中的刺痛感，瞬间蔓延至全身、类似窒息的吟咽。
                                    我们每一个人，都是被困囿住的灵魂。我的灵魂与我之间的距离如此遥远，而我的存在却如此真实。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="3600" data-y="0" id="19">
                            <div class="circle">11/25</div>
                            <h2 class="timeList_item_title">一半是水 一半是酒</h2>
                            <div class="list_show show4">
                                <img src="../../public/images/event18.jpg" width="500">
                                <h2><a href="#">一半是水 一半是酒</a></h2>
                                <p><img src="../../public/images/event8.jpg" /></p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="3800" data-y="0" id="20">
                            <div class="circle">12/10</div>
                            <h2 class="timeList_item_title">雨中.青年</h2>
                            <div class="list_show show4">
                                <img src="../../public/images/event20.jpg"/>
                                <h2><a href="http://www.greatidc.com">雨中.青年</a></h2>
                                <p class="m160"><img src="../../public/images/event19.jpg" style="margin-top:-60px"/></p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="4000" data-y="0" id="21">
                            <div class="circle">12/12</div>
                            <h2 class="timeList_item_title">旅行的意义</h2>
                            <div class="list_show">
                                <img src="../../public/images/event21.jpg" width="500">
                                <h2><a href="#">旅行的意义</a></h2>
                                <p>陈绮贞说：你离开我，就是旅行的意义。然而在我眼中旅行的意义，却并非是这样。</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="4200" data-y="0" id="22">
                            <div class="circle">12/22</div>
                            <h2 class="timeList_item_title">茶与咖啡，都是除水之外，所被世人喜爱，经久不衰的饮品。</h2>
                            <div class="list_show show5">
                                <img src="../../public/images/event22.jpg" width="500">
                                <h2><a href="#">茶与咖啡，都是除水之外，所被世人喜爱，经久不衰的饮品。</a></h2>
                                &lt;!&ndash;<p><img src="../../public/images/event22.jpg" /></p>&ndash;&gt;
                            </div>
                        </div>
                        <div class="step" data-x="4200" data-y="0" data-scale ="0.5" id="2013">
                            <div class="year2013"> 2017 </div>
                            <div class="list_show year"> 渐渐长大，但愿不曾变过······ </div>
                        </div>
                        <div class="timeList_item step" data-x="4600" data-y="0" id="23">
                            <div class="circle">01/06</div>
                            <h2 class="timeList_item_title">做个好姑娘,然后咱们一起祸害四方</h2>
                            <div class="list_show">
                                <img src="../../public/images/event21.jpg" width="500">
                                <h2><a href="#">做个好姑娘,然后咱们一起祸害四方</a></h2>
                                <p class="m160"> 如果,你愿意做个好姑娘,那么,我愿意陪着你,陪着你一起,一起,祸害四方.</p>
                            </div>
                        </div>
                        <div class="timeList_item step" data-x="4800" data-y="0" id="24">
                            <div class="circle">01/31</div>
                            <h2 class="timeList_item_title">成长</h2>
                            <div class="list_show">
                                <img src="../../public/images/event23.jpg" class="opacity7">
                                <h2><a href="#">成长</a></h2>
                                <p class="m160" style="margin-top:-60px">遇到下一个你 ，我会不会已经是打磨完毕的成品</p>
                            </div>
                        </div>
                        <div class="timeList_item step refresh" data-x="5000" data-y="0" id="25">
                            <div class="list_show">
                                <a href='javascript:replay();'><img src="../../public/images/refress.png"/></a>
                                <p class="end">2018的我，会更加努力！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="gotop"> <a href="#top"><img src="../../public/images/top.png" title="回顶部"/></a></div>
            <script type="text/javascript" src="../../public/js/impress.js"></script>
        </div>
    </div>

    <!--首页的第二个屏幕-->
    <div class="body-second-screen show-box2" >
        <div class="bs-background">
            <div class="bs-explore">
                <h2>探索更多有趣的梦想</h2>
                <div class="bs-explore-animation">
                    发现在
                    <span class="bs-explore-content">
                        <ul>
                            <li style="display:block"><a href="">生活</a></li>
                            <li><a href="">学习</a></li>
                            <li><a href="">工作</a></li>
                            <li><a href="">创新</a></li>
                            <li><a href="">健康</a></li>
                            <li><a href="">旅行</a></li>
                            <li><a href="">文艺</a></li>
                            <li><a href="">情感</a></li>
                        </ul>
                    </span>
                    的梦想家
                </div>
            </div>
        </div>
    </div>

    <!--首页的第三个屏幕-->
    <div class="body-third-screen show-box3" >
        <div class="bt-background">
            <div class="bt-channel-content-sum">
                <div class="bt-channel bt-ch1">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">生活</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch2">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">学习</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch3">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">工作</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch4">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">创新</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch5">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">健康</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch6">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">旅行</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch7">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">文艺</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bt-channel bt-ch8">
                    <a class="bt-channel-content" href="">
                        <div class="bt-channel-panel">情感</div>
                        <div class="bt-channel-dynamic">
                            <div class="bt-col-6" style="text-align: center;border-right: 2px solid #B0ABA3">
                                <p class="bt-bold-count">13405</p>
                                <p>梦想</p>
                            </div>
                            <div class="bt-col-6" style="text-align: center">
                                <p class="bt-bold-count">19965</p>
                                <p>动态</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="bt-bottom">
            <div class="bt-bottom-content">
                <div class="bottom-contant-col future">
                    <h2><img src="../../public/images/logo_login.png" style="width:134px;"></h2>
                    <p>与世界分享你的追梦历程</p>
                    <div class="bottom-contantX2">「十年后」是一个基于梦想的经验交流社区。在这里，你可以自由的分享关于未来梦想的真实想法，并探索更多有趣的梦想，结交志同道合的人。</div>
                </div>
                <div class="bottom-contant-col about">
                    <div class="bottom-aboutMe">关于我们</div>
                    <ul>
                        <li><a href="">关于十年后</a></li>
                        <li><a href="">团队成员</a></li>
                        <li><a href="">加入我们</a></li>
                        <li><a href="">用户协议</a></li>
                        <li><a href="">回到旧版本</a></li>
                    </ul>
                </div>
                <div class="bottom-contant-col media">
                    <div class="bottom-mediaReport">媒体报道</div>
                    <ul>
                        <li><a href="">PingWest</a></li>
                        <li><a href="">动点科技</a></li>
                        <li><a href="">IT桔子</a></li>
                        <li><a href="">创业邦</a></li>
                        <li><a href="">i黑马</a></li>
                    </ul>
                </div>
                <div class="bottom-contant-col download">
                    <div class="bottom-downloadApp">下载应用</div>
                    <div class="bottom-download-col app">
                        <div class="download-btn">
                            <a href="" target="_blank">
                                <b class="ty-icon-ios"></b>
                                <span>iOS 版</span>
                            </a>
                        </div>
                        <div class="download-btn">
                            <a href="" target="_blank">
                                <b class="ty-icon-android"></b>
                                <span>Android 版</span>
                            </a>
                        </div>
                        <div class="download-QRcode">
                            <img src="../../public/images/qrcode.png" alt="二维码" width="83" height="83"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bt-bottom-foot">
                &copy; 2013 - 2015 <a href="">10years.me</a>. 上海秦誓网络科技有限公司 All Rights Reserved. <a href="" target="_blank">沪ICP备13021804号</a><br><br>
                <a href="http://www.upyun.com"><img src="../../public/images/90X45.png" /></a>&nbsp;
                <a href="http://www.oneapm.com"><img src="../../public/images/badge2xblue.png" height="45" /></a>
            </div>
        </div>
    </div>

    <script>
        var index=1;
        function light(x) {
            change(x);
        }

        $(window.onscroll=function () {
            //定义一个变量H，表示滚动条和顶部的距离
            var H=document.documentElement.scrollTop||document.body.scrollTop;
            if(H<1||H==undefined){
                flag=true;
                change();
            }else if(H>0){
                if(document.addEventListener){
                    document.addEventListener("DOMMouseScroll",function (event) {
                    },false);
                }
                window.onmousewheel=document.onmousewheel=function (event) {
                }
            }

        });
        var flag=true;
        function scrollFun(event,x) {
            if(flag) {
                var scrollchange = 0;
                event = event || window.event;
                scrollchange = -(event.wheelDelta / 120) || (event.detail / 3);
                if (scrollchange != 0) {
                    index = index + (scrollchange);
                };
                if (x) {
                    index = x;
                };
                if (index < 1) {
                    index = 1;
                } else if (index > 3) {
                    index = 3;
                };
                var show = 0;
                var hide1 = 0;
                var hide2 = 0;
                if (index == 1) {
                    show = index;
                    hide1 = 2;
                    hide2 = 3;
                } else if (index == 2) {
                    show = index;
                    hide1 = 1;
                    hide2 = 3;
                } else if (index == 3) {
                    show = index;
                    hide1 = 1;
                    hide2 = 2;
                };
                $(".click-box" + show) .addClass("click-show");
                $(".click-box" + hide1).removeClass("click-show");
                $(".click-box" + hide2).removeClass("click-show");

                if (show == 3) {
                    $(".show-box" + show).css({
                        margin: "-5px"
                    })
                }
                $(".show-box" + show).fadeIn(1000);
                $(".show-box" + hide1).hide();
                $(".show-box" + hide2).hide();
                flag=false;
            }
                setTimeout(function () {
                    flag=true;
                },200);
            };
			var evt;
			function change(x){
				if(document.addEventListener){
					document.addEventListener("DOMMouseScroll",function (event) {
						evt=event;
						scrollFun(evt,x);
					},false);
				}
				window.onmousewheel=document.onmousewheel=function (event) {
					evt=event;
					scrollFun(evt,x);
				}
				if(x){
                    scrollFun(evt,x);
					x=undefined;
                }
			}

        $(function(){
            $(".click-box1").addClass("click-show");
            $(".show-box1").show();
            $(".show-box2").hide();
            $(".show-box3").hide();
            var n=0;
            setInterval(function xx() {
                var index=52*n;
                var index2=index;
                var timer=setInterval(function bsShowHide(){
                    var bsLis=document.getElementsByClassName("bs-explore-content")[0].getElementsByTagName("ul")[0];
                    bsLis.style.top=-index+'px';
                    index++;
                    if(index>index2+54){
                        index=undefined;
                    }
                },20);
                n++;
                if(n==7){
                    n=0;
                    var bsLis=document.getElementsByClassName("bs-explore-content")[0].getElementsByTagName("ul")[0];
                    bsLis.style.top=0+'px';
                }
            },2000)
        });


        /*时间轴*/
        var impress = $.browser.msie?undefined:impress();
        //预加载图片
        new Image().src = "../../public/images/bg04.jpg";
        new Image().src = "../../public/images/bg01.jpg";
        new Image().src = "../../public/images/bg02.jpg";
        new Image().src = "../../public/images/bg03.jpg";

        var replay = function(){
            if(impress){
                impress.goto($("#0")[0]);
            }else{
                location.reload();
            }
        };

        var event_cache = null;

        var loop = true,timing=null;

        $(function(){

            $(window).bind('scroll resize',function(){
                if($(window).scrollTop() >= 1)
                    $('.gotop').css('display','block');
                else
                    $('.gotop').css('display','none');
            });

            var cache_event_top = function(){
                if(event_cache!=null)
                    return;
                event_cache = new Array(24);
                var i = 0;
                var length = event_cache.length;
                for(;i<length;i++){
                    var id = i+1;
                    event_cache[i] = $("#"+id).position().top;
                }
            };

            var resize = function(){

                var width = $(window).width();
                var height = $(window).height();
                $(".bg img").css("width",width);
                $(".bg img").css("height",height);

            };

            var cur_month = 2;

            var getMonthByTop = function(top){
                for(var i=0,event=event_cache[i];i<event_cache.length;i++){
                    if(i==event_cache.length-1 && top>=event || top>=event && top<event_cache[i+1]){
                        var date = $("#"+(i+1)).find(".circle").html();
                        if(date){
                            var month = +date.split("/")[0];
                            return month;
                        }
                    }
                }
                return cur_month;
            };

            var scroll = function(){
                if($.browser.msie){
                    cache_event_top();
                    var st = $(window).scrollTop();
                    var month = getMonthByTop(st);
                    if(month!=cur_month){
                        changeBackground(month);
                        cur_month = month;
                    }
                }
            };

            resize();

            $(window).resize(function(){
                resize();
            });

            $(window).scroll(function(){
                scroll();
            });

            $(".circle").click(function(){
                loop = false;
                if(timing)
                    clearInterval(timing);
            });
            $(".refresh img").click(function(){
                loop = true;
                $(".refresh img").addClass("rotate45");
                setTimeout(function(){
                    $(".refresh img").removeClass("rotate45");
                },2000);
            });

        });


        if(impress)impress.init();

        var last_month = 4;

        var changeBackground = function(month){
            var body = $("body");
            var url = "";
            if(month == 12 || month == 1 || month==2){
                if(last_month==4)
                    return;
                last_month = 4;
                url = "../../public/images/bg04.jpg";
                $("header").css("background-color","rgba(255,255,255,0.2)");
                $(".impress-supported .list_show h2").css("color","#0087f1");
                $(".impress-not-supported .timeList_item_title").css("color","#0087f1");
            }else if(month>=3 && month<=5){
                if(last_month==1)
                    return;
                last_month = 1;
                url = "../../public/images/bg01.jpg";
                $("header").css("background-color","rgba(255,255,255,0.2)");
                $(".impress-supported .list_show h2").css("color","#fff");
                $(".impress-not-supported .timeList_item_title").css("color","#eca200");
            }else if(month>=6 && month<=8){
                if(last_month==2)
                    return;
                last_month = 2;
                url = "../../public/images/bg02.jpg";
                $("header").css("background-color","rgba(0,0,0,0.2)");
                $(".impress-supported .list_show h2").css("color","#82e211");
                $(".impress-not-supported .timeList_item_title").css("color","#82e211");
            }else{
                if(last_month==3)
                    return;
                last_month = 3;
                url = "../../public/images/bg03.jpg";
                /* $("header").css("background-color","rgba(255,255,255,0.2)");*/
                $(".impress-supported .list_show h2").css("color","#ffca00");
                $(".impress-not-supported .timeList_item_title").css("color","#ffca00");
            }
            $(".bg img").attr("src",url);
        };

        if(!$.browser.msie){
            document.addEventListener('impress:stepenter', function(e){
                var cur = arguments[0].target;
                var date = $(cur).find(".circle").html();
                if(date){
                    var month = +date.split("/")[0];
                    changeBackground(month);
                }
                if(!loop)
                    return;
                if (typeof timing !== 'undefined') clearInterval(timing);
                var duration = 4000;
                timing = setInterval(function(){
                    var dom = impress.next();
                    var id = +$(dom).attr("id");
                    if(id==25){
                        clearInterval(timing);
                        loop = false;
                    }
                }, duration);
            });
        }
    </script>
</body>
</html>





